#page-content {
  padding-top: 0px;
  margin-top: 0px;
}

.page__content {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  top: 56px;
}

/*----------------*/

/*---Typography---*/

/*----------------*/

.small-heading {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  line-height: 36px;
  font-weight: 650;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.heading-style h4 {
  text-align: center;
}

.heading-style p {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

.heading-style .line {
  z-index: 1;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  display: block;
  height: 1px;
}

.heading-style i {
  font-size: 24px;
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -25px;
  z-index: 99;
}

.heading-style p {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------*/

/*---Heading Styles---*/

/*--------------------*/

.heading-strip {
  padding: 20px;
  background-size: cover;
  font-family: "roboto", "Oswald", sans-serif;
  text-transform: uppercase;
}

.heading-strip .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.heading-strip h3,
.heading-strip h4,
.heading-strip h2,
.heading-strip h1 {
  color: #ffffff;
  z-index: 99;
  position: relative;
}

.heading-strip p {
  color: #ff8b00;
  z-index: 99;
  position: relative;
  margin-bottom: 0px;
  opacity: 0.85;
}

.heading-strip i {
  position: relative;
  z-index: 99;
  color: #ffffff;
  font-size: 45px;
  width: 60px;
  top: 5px;
  bottom: 5px;
  right: 0px;
}

.heading-strip .button,
.heading-strip .button-ghost {
  z-index: 99;
  position: relative;
  color: #ffffff;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid 2px rgba(255, 255, 255, 0.4);
  margin-top: 20px;
}

.heading-block,
.background-block {
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 40px 25px;
  background-size: cover;
}

.heading-block-fullscreen,
.background-block {
  padding-left: 0px;
  padding-right: 0px;
}

.heading-block .background-block-slider,
.background-block .background-block-slider {
  z-index: 999 !important;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.heading-block h5,
.background-block h1,
.background-block h2,
.background-block h3,
.background-block h4,
.background-block h5 {
  color: #ffffff;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  z-index: 99;
}

.heading-block h1,
.background-block h1 {
  font-size: 18px;
  color: #ffffff;
  z-index: 99;
  position: relative;
  font-family: "roboto", "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.heading-block h3,
.background-block h3 {
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  position: relative;
  text-align: center;
  margin-right: 60px;
}

.heading-block h4,
.background-block h4 {
  font-size: 18px;
  color: #ffffff;
  z-index: 99;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.heading-block p,
.background-block p {
  font-size: 14px;
  color: #ffffff;
  position: relative;
  text-align: center;
  opacity: 0.7;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  z-index: 99;
}

.heading-block .button,
.heading-block .button-ghost,
.background-block .button,
.background-block .button-ghost {
  z-index: 99;
  position: relative;
  color: #ffffff;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid 2px rgba(255, 255, 255, 0.4);
}

.heading-text {
  margin-bottom: 30px;
}

.heading-text h3,
.heading-text h4,
.heading-text h5 {
  text-align: center;
}

.heading-text i {
  text-align: center;
  font-size: 28px;
  display: block;
  height: 70px;
  z-index: 99;
  line-height: 70px;
}

.heading-line-1 {
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #cacaca;
  top: 55px;
  left: 50%;
  margin-left: -110px;
}

.heading-line-2 {
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #cacaca;
  top: 55px;
  right: 50%;
  margin-right: -110px;
}

.heading-text p {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

/*-------------*/

/*---Buttons---*/

/*-------------*/

@media (max-width: 560px) {
  .demo-socials a {
    width: 100%;
  }
}

@media (min-width: 560px) and (max-width: 760px) {
  .demo-socials a {
    width: 45%;
  }
}

@media (min-width: 760px) and (max-width: 1280px) {
  .demo-socials a {
    width: 31%;
  }
}

@media (min-width: 1280px) {
  .demo-socials a {
    width: 18%;
  }
}

.button {
  color: #ffffff;
  height: 45px;
  line-height: 42px;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

.button-ghost {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  margin: 0px 5px 10px 5px;
  padding: 0px 20px 0px 20px;
  background-color: transparent;
  color: #ffffff;
  line-height: 40px;
}

.button-ghost:hover {
  /*background-color:#FFFFFF;*/
  background-color: rgba(148, 148, 148, 1) !important;
  color: #1f1f1f !important;
}

.button-bold {
  font-weight: 700 !important;
}

.button-ghost:active {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.button-xl {
  font-size: 18px;
  height: 70px !important;
  line-height: 68px !important;
}

.button-xl.button-icon i {
  font-size: 12px;
  height: 70px !important;
  width: 68px !important;
  border-radius: 70px !important;
  line-height: 70px !important;
}

.button-l {
  font-size: 16px;
  height: 60px !important;
  line-height: 60px !important;
}

.button-l.button-icon i {
  font-size: 12px;
  height: 60px !important;
  width: 55px !important;
  border-radius: 60px !important;
  line-height: 60px !important;
}

.button-m {
  font-size: 14px;
  height: 55px !important;
  line-height: 53px !important;
}

.button-m.button-icon i {
  font-size: 12px;
  height: 53px !important;
  width: 55px !important;
  border-radius: 55px !important;
  line-height: 55px !important;
}

.button-s {
  font-size: 13px;
  height: 47px !important;
  line-height: 45px !important;
}

.button-s.button-icon i {
  font-size: 12px;
  height: 45px !important;
  width: 45px !important;
  border-radius: 45px !important;
  line-height: 45px !important;
}

.button-xs {
  font-size: 11px;
  height: 42px !important;
  line-height: 39px !important;
}

.button-xs.button-icon i {
  font-size: 14px;
  height: 40px !important;
  width: 40px !important;
  border-radius: 40px !important;
  line-height: 40px !important;
}

.icon-xl {
  width: 70px !important;
  height: 70px !important;
  line-height: 70px !important;
  font-size: 32px !important;
}

.icon-xl i {
  width: 70px !important;
  height: 70px !important;
  line-height: 70px !important;
  font-size: 32px !important;
}

.icon-l {
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
  font-size: 24px !important;
}

.icon-l i {
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
  font-size: 24px !important;
}

.icon-m {
  width: 55px !important;
  height: 55px !important;
  line-height: 55px !important;
  font-size: 20px !important;
}

.icon-m i {
  width: 55px !important;
  height: 55px !important;
  line-height: 55px !important;
  font-size: 20px !important;
}

.icon-s {
  width: 40px !important;
  height: 40px !important;
  line-height: 38px !important;
  font-size: 16px !important;
}

.icon-s i {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 16px !important;
}

.icon-xs i {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  font-size: 14px !important;
}

.icon-xs {
  width: 35px !important;
  height: 35px !important;
  line-height: 32px !important;
  font-size: 14px !important;
}

.button-full {
  display: block;
  width: 100% !important;
  margin-left: -1px;
}

.button-round {
  border-radius: 40px;
  padding-bottom: 38px;
}

.button-teal {
  background-color: #16a085;
  border: solid 2px #16a085;
}

.button-teal-3d {
  border: none !important;
  border-bottom: solid 5px #107763 !important;
  padding: 0px 22px;
}

.button-teal:hover {
  background-color: #1abc9c;
  border: solid 2px #1abc9c;
}

.button-teal:active {
  background-color: #16a085;
  border: solid 2px #16a085;
}

.button-green {
  background-color: #27ae60;
  border: solid 2px #27ae60;
}

.button-green-3d {
  border: none !important;
  border-bottom: solid 5px #1e7b45 !important;
  padding: 0px 22px;
}

.button-green:hover {
  background-color: #2ecc71;
  border: solid 2px #2ecc71;
}

.button-green:active {
  background-color: #27ae60;
  border: solid 2px #27ae60;
}

.button-blue {
  background-color: #0d5ea4;
  border: solid 2px #0d5ea4;
}

.button-blue-3d {
  border: none !important;
  border-bottom: solid 5px #216490 !important;
  padding: 0px 22px;
}

.button-blue:hover {
  background-color: #005998;
  border: ridge 2px #0d5ea4;
}

.button-blue:active {
  background-color: #0d5ea4;
  border: ridge 2px #194798;
}

.button-magenta {
  background-color: #8e44ad;
  border: solid 2px #8e44ad;
}

.button-magenta-3d {
  border: none !important;
  border-bottom: solid 5px #6a3083 !important;
  padding: 0px 22px;
}

.button-magenta:hover {
  background-color: #9b59b6;
  border: solid 2px #9b59b6;
}

.button-magenta:active {
  background-color: #8e44ad;
  border: solid 2px #3498db;
}

.button-dark {
  background-color: #2c3e50;
  border: solid 2px #2c3e50;
}

.button-dark-3d {
  border: none !important;
  border-bottom: solid 5px #1b2631 !important;
  padding: 0px 22px;
}

.button-dark:hover {
  background-color: #34495e;
  border: solid 2px #34495e;
}

.button-dark:active {
  background-color: #2c3e50;
  border: solid 2px #2c3e50;
}

.button-light {
  background-color: #7f8c8d;
  border: solid 2px #7f8c8d;
}

.button-light-3d {
  border: none !important;
  border-bottom: solid 5px #5b6667 !important;
  padding: 0px 22px;
}

.button-light:hover {
  background-color: #acb0b2;
  border: solid 2px #7f8c8d;
}

.button-light:active {
  background-color: #7f8c8d;
  border: solid 2px #7f8c8d;
}

.button-yellow {
  background-color: #f39c12;
  border: solid 2px #f39c12;
}

.button-yellow-3d {
  border: none !important;
  border-bottom: solid 5px #c37d0e !important;
  padding: 0px 22px;
}

.button-yellow:hover {
  background-color: #f1c40f;
  border: solid 2px #f1c40f;
}

.button-yellow:active {
  background-color: #f39c12;
  border: solid 2px #f39c12;
}

.button-orange {
  background-color: #cb8736;
  border: solid 2px #cb8736;
}

.button-orange-3d {
  border: none !important;
  border-bottom: solid 5px #772016 !important;
  padding: 0px 22px;
}

.button-orange:hover {
  background-color: #dd8d24;
  border: ridge 2px #cb8736;
}

.button-orange:active {
  background-color: #cb8736;
  border: ridge 2px #dd8d24;
}

.button-red {
  background-color: #c0392b;
  border: solid 2px #c0392b;
}

.button-red-3d {
  border: none !important;
  border-bottom: solid 5px #772016 !important;
  padding: 0px 22px;
}

.button-red:hover {
  background-color: #e74c3c;
  border: solid 2px #e74c3c;
}

.button-red:active {
  background-color: #c0392b;
  border: solid 2px #c0392b;
}

.button-pink {
  background-color: #fb3365;
  border: solid 2px #fb3365;
}

.button-pink-3d {
  border: none !important;
  border-bottom: solid 5px #fb3365 !important;
  padding: 0px 22px;
}

.button-pink:hover {
  background-color: #e22c59;
  border: solid 2px #e22c59;
}

.button-pink:active {
  background-color: #e22c59;
  border: solid 2px #e22c59;
}

.button-icon {
  padding-left: 60px;
  height: 50px;
  line-height: 50px;
  border: none !important;
}

.button-icon.button-full {
  padding-left: 47px !important;
  text-align: center !important;
}

.button-center-large {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.button-center {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button-round.button-icon i {
  border-radius: 50px;
}

.button-icon i {
  width: 50px;
  line-height: 50px !important;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

/*--------------------*/

/*---Device Buttons---*/

/*--------------------*/

.android-button {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.android-button em {
  position: absolute;
  font-size: 8px;
  padding-left: 45px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  margin-top: -2px;
}

.android-button i {
  position: absolute;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width: 45px;
  text-align: center;
}

.android-button strong {
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  line-height: 62px;
  display: block;
  padding-left: 45px;
}

.ios-button {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.ios-button em {
  position: absolute;
  font-size: 8px;
  padding-left: 45px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  margin-top: -2px;
}

.ios-button i {
  position: absolute;
  font-size: 24px;
  height: 50px;
  line-height: 52px;
  width: 45px;
  text-align: center;
}

.ios-button strong {
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  line-height: 61px;
  display: block;
  padding-left: 45px;
}

.windows-button {
  width: 145px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.windows-button em {
  position: absolute;
  font-size: 8px;
  padding-left: 45px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  margin-top: 1px;
}

.windows-button i {
  position: absolute;
  font-size: 21px;
  height: 50px;
  line-height: 49px;
  width: 45px;
  text-align: center;
}

.windows-button strong {
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  line-height: 63px;
  display: block;
  padding-left: 45px;
}

.down-button {
  width: 145px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.down-button em {
  position: absolute;
  font-size: 8px;
  padding-left: 50px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  margin-top: 0px;
}

.down-button i {
  position: absolute;
  font-size: 20px;
  height: 50px;
  line-height: 53px;
  width: 50px;
  text-align: center;
}

.down-button strong {
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  line-height: 62px;
  display: block;
  padding-left: 50px;
}
