<ons-page>
    <ons-toolbar>
        <div class="left">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Grundsätzliches
        </div>
        <div class="right">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div id="page-transitions" style="background-color:white">
            <div class="heading-strip bg-1">
                <h4 class="center-text">Wofuer steht die Deutsche Mitte?</h4>
                <p class="center-text">Wir halten was wir sagen – auch nach der Wahl.</p>
                <div class="overlay dark-overlay"></div>
            </div>
            <div class="page-content-scroll">
                <div class="one-half-responsive">
                    <div class="responsive-video full-bottom">
                        <iframe src="https://player.vimeo.com/video/74293745"></iframe>
                    </div>
                </div>
                <div class="one-half-responsive-last center-text ">
                    <h5 class="animate-fade color-dmo-light">Die Deutsche Mitte steht für ethische Politik im Sinne der Bewahrung der Schöpfung: mit Herz, Augenmaß
                        und Vernunft</h5>
                    <p class="color-dm-dark">Politik soll fragen: Was ist gut für alle? Für Deutschland, für Europa, für die Welt. Für Mensch und Natur. Für ein glückliches und erfolgreiches Miteinander aller in Frieden, Gerechtigkeit und fairem Interessenausgleich.
                    </p>
                    <h4 class="animate-fade">Wir sind alle miteinander verbunden!</h4>
                </div>
                <div class="decoration decoration-margins"></div>
                <div class="content">
                    <div class="heading-text">
                        <h4 class="animate-fade color-dmo-light">Aufrichtige Wahlversprechen:</h4>
                        <div class="heading-line-1"></div>
                        <i class="ion-android-star-outline color-dm-dark"></i>
                        <div class="heading-line-2"></div>
                    </div>
                    <p class="animate-fade">
                        Um ordnen wir als einzige Partei unser Programm direkt nach Ministerien. So gilt: Parteiprogramm = Wahlprogramm = Regierungsprogramm.Und für mögliche Koalitionen wird darüber nicht verhandelt: Allenfalls führen wir „Ressortabgrenzungsgespräche“ – denn in „unseren“ Ministerien werden wir exakt umsetzen, was wir angekündigt hatten. Wir machen Politik für die große Mehrheit der Bevölkerung, die in allen Bereichen mit Recht die Regierungspolitik kritisiert.
                        <br> Wir drängen das globale Finanzkartell zurück – fahren schrittweise, voraussichtlich binnen vier Jahren, Zinsen herunter und bringen die Geldschöpfung unter öffentliche Kontrolle. Spekulationsblasen dulden wir nicht, Nahrungsmittel und Wasser sind Menschenrecht. Wir beenden jede deutsche Beteiligung an Bundeswehr-Kampfeinsätzen außerhalb des Nato-Verteidigungsgebietes.
                        <br> Deutschland verdient einen Friedensvertrag, endlich volle Souveränität und eine umfassende Verfassungsreform, vor allem für mehr Bürgerrechte, die Selbstbestimmung und Selbstverantwortung des Menschen auf allen Ebenen ermöglichen – und den Überwachungsstaat beenden.
                        <br> Deutschland ist ein christlich geprägtes Land – die Deutsche Mitte eine säkulare Partei; wir fordern die strikte Trennung von Staat und Kirche.
                    </p>
                    <div class="heading-text">
                        <i class="ion-android-star-outline color-red-dark"></i>
                    </div>
                </div>
            </div>
            <div class="footer footer-dark">
                <a href="index.html" class="footer-logo scale-hover"></a>
                <p>
                    Ethik zur Bewahrung der Schöpfung, eine andere Politik ist möglich und notwendig!
                </p>
                <div class="footer-socials">
                    <a href="https://www.facebook.com/hoersteldeutschemitte/" class="icon icon-round icon-xs facebook-bg"><i class="ion-social-facebook"></i></a>
                    <a href="https://twitter.com/DeutscheMitte" class="icon icon-round icon-xs twitter-bg"><i class="ion-social-twitter"></i></a>
                    <a href="https://dm-stammtisch.de/" class="icon icon-round icon-xs google-bg"><i class="ion-home"></i></a>
                    <a href="https://www.youtube.com/channel/UCLC_9zmyYs5wFX46KBJz95w/" class="icon icon-round icon-xs youtube-bg"><i class="ion-social-youtube"></i></a>
                    <a href="#" class="icon icon-round icon-xs show-share-bottom bg-blue-light"><i class="ion-android-share"></i></a>
                </div>
                <div class="decoration"></div>
                <p class="copyright-text">GEHEN SIE jetzt MIT <span id="copyright-year"></span>. WIR sind die Zukunft..</p>
            </div>
        </div>
                    <div class="clear"></div>
                </div>
            </div>
  </ons-page>