<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Programmübersicht
        </div>
        <div class="right">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="page-transitions" style="background-color:white">
        <div id="page-content-scroll">
            <div class="profile-page-1">
                <div class="profile-page-1-image">
                    <img class="preload-image responsive-image" src="images/flyer2016.png" alt="img">
                    <div class="profile-gradient"></div>
                </div>
                <div class="content center-boxed-content">
                    <div class="profile-page-1-header">
                        <a href="https://deutsche-mitte.de/wp-content/uploads/2016/08/flyer_Privatdruck_ohneBeschnitt_12.8.16.pdf" class="button button-round button-blue profile-page-button-1 animate-zoom animate-delay-400">Download</a>
                        <h1 class="animate-zoom animate-delay-200">Flyer August - 2016</h1>
                        <em class="animate-zoom animate-delay-250 ">Wir fördern unternehmerische Vielfalt,unterstützen Klein- und Mittelstandsbetriebe.</em>
                        <strong class="animate-zoom animate-delay-300"><i class="ion-ios-location"></i>Deutsche Mitte · Pariser Platz 4a · 10117 Berlin</strong>
                        <p class="animate-zoom animate-delay-350">
                            Sozial engagierte Unternehmen erhalten Steuererleichterungen. Industrie und Investitionen bleiben geschützt. Wir organisieren
                            nicht Arbeitslosigkeit, sondern sichern alle durch ein Grundeinkommen.
                        </p>
                    </div>
                    <div class="profile-page-1-content">
                        <div class="decoration full-top animate-fade"></div>
                        <h2 class="animate-fade color-orange-dark">Die Deutsche Mitte steht für Ethik in der Politik.</h2>
                        <p class="animate-fade color-blue-dark">
                            Wissenschaft und Forschung erhalten Freiheit und Unabhängigkeit zurück, dazu große Investitionsprogramme – auch für Kindergärten
                            und Schulen. So kommt Deutschland wieder ganz nach vorn.
                        </p>
                        <h4 class="animate-fade color-orange-dark">Regierungen sollen den Menschen dienen – nicht umgekehrt.</h4>
                        <p class="animate-fade color-blue-dark">
                            Die Deutsche Mitte fördert die dezentrale Energieversorgung mit alternativen Energieträgern. Energiekartelle verschwinden
                            ebenso wie Pharmakartelle. Wir fördern alternative Medizin, natürlich gesunde Lebensmittel und
                            eine nachhaltige Nutzung aller Ressourcen. Wir stehen für ökologische Land- und Forstwirtschaft
                            zur Bewahrung der natürlichen Grundlagen aller Lebensformen – mit Bienen- und Bodenschutz.
                        </p>
                        <h4 class="animate-fade color-orange-dark">Schluss mit dem Medial-Politischen Kartell und Zwangsgebühren!</h4>
                        <p class="animate-fade color-blue-dark">
                            Ausländer wollen wir - wie weltweit üblich - künftig besser aussuchen, auch viel besser integrieren, respektieren und behandeln.
                            Und, wenn sie sich nicht einfügen wollen, auch schneller zurückschicken. Gewalttaten gegen Migranten
                            sowie kriminelle Banden werden tatkräftig unterbunden. Viel mehr politische Mitsprache aller
                            Bürger, Verfassungsreform!
                        </p>
                        <h4 class="animate-fade color-orange-dark">Politik muss sich an Taten messen lassen:</h4>
                        <p class="animate-fade color-blue-dark">
                            klar und verlässlich. Ohne Experimente.
                        </p>
                        <h4 class="animate-fade color-orange-dark">Wir halten was wir sagen – auch nach der Wahl.</h4>
                        <p class="animate-fade color-blue-dark">
                            Die Deutsche Mitte schafft den friedlichen, gerechten und solidarischen Ausgleich zwischen allen Menschen, Gruppen und Völkern;
                            dazu gehören Friedensvertrag, Souveränität und freiheitliche Verfassung. Völkerrecht geht vor
                            Handelsrecht.
                        </p>
                        <h4 class="animate-fade color-orange-dark">Wir sagen:</h4>
                        <p class="animate-fade color-blue-dark">
                            Schluss mit der Abenteuer-Politik bei Zuwanderung und Terrorgefahr; sinnloser, unnötiger Konfrontation mit unseren russischen
                            Nachbarn; bei unklugen Auslandseinsätzen unserer Bundeswehr, unsoliden Euro-Finanzen und gefährlichen
                            Handelsverträgen.
                        </p>
                        <h4 class="animate-fade color-orange-dark">Wir meinen:</h4>
                        <p class="animate-fade color-blue-dark">
                            Das ist nur das gute Recht unserer Wähler und Unterstützer. Deshalb ordnen wir als einzige Partei unser Programm nach Ministerien;
                            damit dient es direkt und verbindlich als Wahl- und Regierungsprogramm, ohne Abstriche und nicht
                            verhandelbar, auch nicht in Koalitionen! Zwischen Wahlterminen ist viel mehr und klar geregelte
                            direkte Demokratie für uns unverzichtbar!
                        </p>
                        <h4 class="animate-fade color-orange-dark">
                            Wir beenden..
                        </h4>
                        <p class="animate-fade color-blue-dark">
                            die Welle der Zuwanderung: fördern Frieden in Kriegsgebieten, vernünftige Lebensbedingungen in Ländern der Erstaufnahme –
                            und schützen einvernehmlich Grenzen und Inland, vor allem auch gegen Terror. So werden die weitaus
                            meisten Zuwanderer sicher heimkehren.
                        </p>
                        <h4 class="animate-fade color-orange-dark">Wir bauen..</h4>
                        <p class="animate-fade color-blue-dark">
                            ein solides Finanz- und Geldsystem und bringen die Deutsche Mark zurück: gemeinsam mit unseren Freunden geplant, ruhig und
                            sicher. Statt in Banken investieren wir lieber in Familie, Soziales und Infrastruktur. So schaffen
                            wir gesundes Wachstum und Wohlstand für alle!
                        </p>
                        <h4 class="animate-fade color-orange-dark">HERZLICH WILLKOMMEN!</h4>
                        <p class="animate-fade color-blue-dark">
                            Deutsche Mitte · Pariser Platz 4a · 10117 Berlin
                        </p>
                        <h4 class="animate-fade color-orange-dark"></h4>
                        <p class="animate-fade color-blue-dark">
                            info@deutsche-mitte.de · www.deutsche-mitte.de
                        </p>
                        <h4 class="animate-fade color-orange-dark"></h4>
                        <p class="animate-fade color-blue-dark">
                            030 - 51302070 Mo./Mi./Fr.: 18.30-19.30 Uhr
                        </p>
                        <h4 class="animate-fade color-orange-dark">V.i.S.d.P. Christoph Hörstel, Pariser Platz 4a, 10117 Berlin</h4>
                        <p class="animate-fade color-blue-dark"></p>
                        <h4 class="animate-fade color-orange-dark">Bundesvorstand Deutsche Mitte</h4>
                        <p class="animate-fade color-blue-dark">
                            v.l.n.r.: Claas Fischer, Jeanette Uzkas, Dr. Harald Niederauer, Sandro Jablonski, Gerhard Madsen, Basem Hussain
                        </p>
                        <h4 class="animate-fade color-orange-dark">Bundesvorsitzender</h4>
                        <p class="animate-fade color-blue-dark">
                            Christoph Hörstel
                        </p>
                        <div class="social-profile">
                            <a href="#" class="icon icon-round icon-ghost facebook-bg facebook-color animate-zoom animate-delay-50"><i class="ion-social-facebook-outline"></i></a>
                            <a href="#" class="icon icon-round icon-ghost twitter-bg twitter-color animate-zoom animate-delay-100"><i class="ion-social-twitter-outline"></i></a>
                            <a href="#" class="icon icon-round icon-ghost whatsapp-bg whatsapp-color animate-zoom animate-delay-150"><i class="ion-ios-telephone-outline"></i></a>
                            <a href="#" class="icon icon-round icon-ghost youtube-bg youtube-color animate-zoom animate-delay-200"><i class="ion-social-youtube-outline"></i></a>
                        </div>
                    </div>
                    <div class="decoration"></div>
                </div>
            </div>
            <div class="footer footer-dark">
                <a href="index.html" class="footer-logo scale-hover"></a>
                <p>
                    Ethik zur Bewahrung der Schöpfung, eine andere Politik ist möglich und notwendig!
                </p>
                <div class="footer-socials">
                    <a href="https://www.facebook.com/hoersteldeutschemitte/" class="icon icon-round icon-xs facebook-bg"><i class="ion-social-facebook"></i></a>
                    <a href="https://twitter.com/DeutscheMitte" class="icon icon-round icon-xs twitter-bg"><i class="ion-social-twitter"></i></a>
                    <a href="https://dm-stammtisch.de/" class="icon icon-round icon-xs google-bg"><i class="ion-home"></i></a>
                    <a href="https://www.youtube.com/channel/UCLC_9zmyYs5wFX46KBJz95w/" class="icon icon-round icon-xs youtube-bg"><i class="ion-social-youtube"></i></a>
                    <a href="#" class="icon icon-round icon-xs show-share-bottom bg-blue-light"><i class="ion-android-share"></i></a>
                </div>
                <div class="decoration"></div>
                <p class="copyright-text">GEHEN SIE jetzt MIT <span id="copyright-year"></span>. WIR sind die Zukunft..</p>
            </div>
        </div>
    </div>
</ons-page>