<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Programmübersicht
        </div>
        <div class="right">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="page-transitions" style="background-color:white">
        <div id="page-content-scroll">
                <div class="profile-page-1">
                    <div class="profile-page-1-image">
                        <img class="preload-image responsive-image" src="images/flugblatt2015.png" alt="img">
                        <div class="profile-gradient"></div>
                    </div>
                    <div class="content center-boxed-content">
                        <div class="profile-page-1-header">
                            <a href="http://www.deutsche-mitte.de/wp-content/uploads/2015/07/DM-Flugblatt-2015-1.pdf" class="button button-round button-blue profile-page-button-1 animate-zoom animate-delay-400">Download</a>
                            <h1 class="animate-zoom animate-delay-200">Flugblatt - 2015</h1>
                            <em class="animate-zoom animate-delay-250 ">Die Deutsche Mitte steht für ethische Politik: mit Herz, Augenmaß und Vernunft.</em>
                            <strong class="animate-zoom animate-delay-300"><i class="ion-ios-location"></i>Deutsche Mitte · Pariser Platz 4a · 10117 Berlin</strong>
                            <p class="animate-zoom animate-delay-350">
                                Politik soll fragen: Was ist gut für alle? Für Deutschland, für Europa, für die Welt. Für Mensch und Natur. Wir wollen den friedlichen, fairen und gerechten Ausgleich zwischen allen Menschen, Gruppen und Völkern. Veränderung gelingt nur gemeinsam- wir sind alle miteinander verbunden. Deutschland wird souverän, erhält Friedensvertrag und Verfassung.
                            </p>
                        </div>
                        <div class="profile-page-1-content">
                            <div class="decoration full-top animate-fade"></div>
                            <h2 class="animate-fade color-orange-dark">Regieren heißt dienen – nicht herrschen</h2>
                            <p class="animate-fade color-blue-dark">
                                Wir halten was wir sagen – auch nach der Wahl. Deshalb ordnen wir als einzige Partei unser Programm gleich von vornherein nach Ministerien; es ist damit gleichzeitig Wahl- und Regierungsprogramm, ohne Abstriche und nicht verhandelbar: auch nicht in Koalitionen! So kann jeder sofort genau sehen, was konkret umgesetzt wird.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Schluss mit der Abenteuer-Politik bei Euro, Finanzen und Auslandseinsätzen der Bundeswehr. ’Raus
                                aus der Nato!</h4>
                            <p class="animate-fade color-blue-dark">
                                Zunächst wird Deutschland seine Truppen aus der Kommandostruktur der Nato herausziehen – und alle Auslandseinsätze beenden. Sollte die Nato kein defensives Bündnis werden, erfolgt der Austritt. Mit Augenmaß, gut abgestimmt mit Partnern und Freunden und ohne großen Wirbel verlässt Deutschland die Euro-Gruppe – als zweites Land, um Missstimmung zu vermeiden. Die EU ist umfassend zu reformieren. Die Deutsche Mitte tritt weltweit für gerechten Frieden ein – gerade auch im Nahen und Mittleren Osten. Freiheit für Palästina! Nicht-Einmischung in die inneren Angelegenheiten anderer Länder! Abzug aller fremden Truppen und (Atom!)Waffen von deutschem Boden!
                            </p>
                            <h4 class="animate-fade color-orange-dark">Wir wollen mehr und besser bezahlte Polizisten, die wir persönlich kennen.</h4>
                            <p class="animate-fade color-blue-dark">
                                Ausländer wollen wir - wie weltweit üblich - künftig besser aussuchen, auch viel besser integrieren, respektieren und behandeln. Und, wenn sie sich nicht einfügen wollen, auch schneller zurückschicken. Gewalttaten gegen Migranten sowie kriminelle Banden werden tatkräftig unterbunden. Viel mehr politische Mitsprache aller Bürger, Verfassungsreform!
                            </p>
                            <h4 class="animate-fade color-orange-dark">Banken werden ehrliche Dienstleister, Zins und Zinseszins abgeschafft, Zockerei wird verboten,
                                Geldschöpfung kommt unter öffentliche Kontrolle.</h4>
                            <p class="animate-fade color-blue-dark">
                                Marode Banken werden verstaatlicht und teilweise in kontrollierten Konkurs gehen. Euro Unterstützung zahlen wir nur noch gegen dreifache Sicherheit, um das Vermögen des deutschen Volkes abzusichern. Steuern für Superreiche und auf Mega-Erbschaften steigen, Schwächere werden entlastet.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Unternehmen, die sozial und flexibel arbeiten, erhalten Steuererleichterungen, je sozialer desto
                                mehr.
                            </h4>
                            <p class="animate-fade color-blue-dark">
                                Familienunternehmen, Genossenschaften und Stiftungen sowie Mitarbeiterbeteiligung werden ebenso gefördert wie Solidität und Stabilität der Unternehmensfinanzen. Eingebaute Produktalterung (Obsoleszenz) wird bestraft, die Garantiefrist verlängert.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Das Millionenheer der Arbeitslosen ist eine gewaltige, staatlich organisierte Verschwendung von
                                Steuergeldern und Menschenleben.</h4>
                            <p class="animate-fade color-blue-dark">
                                Alle Einkommenslosen können in ihrer Umgebung gemeinnützigen tätig werden – oder eigene Projekte verfolgen. Dafür gibt es dann erheblich mehr Geld. Familien erhalten großzügige Förderung.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Deutschlands neue Verteidigungsstrategie „Full Spectrum Defense“ bringt volle Verteidigungsfähigkeit
                                auf allen Gebieten. Rückkehr zur Wehrpflicht!</h4>
                            <p class="animate-fade color-blue-dark">
                                Familienunternehmen, Genossenschaften und Stiftungen sowie Mitarbeiterbeteiligung werden ebenso gefördert wie Solidität und Stabilität der Unternehmensfinanzen. Eingebaute Produktalterung (Obsoleszenz) wird bestraft, die Garantiefrist verlängert.
                            </p>
                            <h4 class="animate-fade color-orange-dark">
                                Große Investitionen in Bildung und Forschung machen Deutschland wieder zur führenden Nation in diesem Bereich.
                            </h4>
                            <p class="animate-fade color-blue-dark">
                                KiTa-Plätze für alle ab drei Jahren, Schulklassen unter 20 Kinder, große Erweiterungen bei den Universitäten, aufgestockte Budgets in der Forschung. Deutlich bessere bauliche und technische Ausstattungen überall. Deutlich mehr wissenschaftliche Freiheit und Unabhängigkeit. Kein Schulzwang, freies Lernen: selbstbestimmt, praxisbezogen: Ergebniskontrolle. Tatsächlich unabhängige öffentliche Medien – Schluss mit Gebührenzwang!
                            </p>
                            <h4 class="animate-fade color-orange-dark">Kinder werden großzügig gefördert: 50% mehr Kindergeld, Elterngeld auf drei Jahre verlängert:
                                anrechnungsfrei.
                            </h4>
                            <p class="animate-fade color-blue-dark">
                                Intakte Familien in geordneten Verhältnissen, in denen verheiratete, leibliche Eltern ihre eigenen Kinder erziehen, erhalten € 5.000 für das erste Kind, je € 10.000 für das zweite und das dritte Kind. Steuerfrei, bar, pfändungssicher und zusätzlich zu allen anderen Leistungen. Mehr Unterstützung für junge Mütter aus allen Ministerien. Frauen erhalten gleichen Lohn und gleiche Aufstiegschancen. Beide Eltern erhalten Hilfen für den Wiedereinstieg in den Beruf. Schluss mit Gender-Mainstreaming. Mehrgenerationengemeinschaften, deutlich verbesserte Jugendarbeit für verantwortungsvolle Teilhabe.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Überteuerte Kartellmedizin durch wirkungsvollere, höherwertige und preisgünstigere natürliche
                                Methoden ersetzen!</h4>
                            <p class="animate-fade color-blue-dark">
                                Ganzheitliche Heilkunde und alternative Medizin, deutlich gestärkte individuelle Betreuung! Der Einfluss weniger Pharma-Riesen wird ebenso zurückgedrängt wie die Profitgier im Gesundheitswesen. Kritischer Umgang mit Impfungen, vor allem bei Kindern, Antibiotika, Chemotherapie, Quecksilber (Amalgam-Zahnfüllungen!) und Aluminium. Grenzwerte für Elektrosmog und Radioaktivität senken. Viel mehr Geld für Pflegeberufe und Hebammen!
                            </p>
                            <h4 class="animate-fade color-orange-dark">Umwelt- und Naturschutz erhalten hohen Vorrang.</h4>
                            <p class="animate-fade color-blue-dark">
                                Stärkung und Weiterentwicklung der Nationalen Naturlandschaften, Verbesserung der Betreuungssituation in Schutzgebieten, Förderung nachhaltiger und naturschonender Landnutzung. Umweltverbrecher werden stärker verfolgt und bestraft, auch im Nuklearbereich und bei Elektro- und Strahlen-Smog. Genmanipulierte Produkte ’raus aus der Nahrungskette. Umwelttechnologie wird stärker steuerlich gefördert. Die Lobby Unabhängigkeit der Wissenschaft wird bestärkt und kontrolliert.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Bienenvölker gesetzlich schützen, weil sonst die Natur zusammenbricht.</h4>
                            <p class="animate-fade color-blue-dark">
                                Keine Patentrechte auf Lebewesen. Bewahrung und Förderung altbewährten Saatgutes. Alle Betriebe werden auf Öko-Landbau umgestellt. Junge Menschen helfen dabei in ihrem sozialen Jahr und erlernen so den Bezug zur Natur. Wasser ist Sache der Kommunen und gehört nicht in Konzernhände! Keine genveränderten Nahrungsmittel!
                            </p>
                            <h4 class="animate-fade color-orange-dark">Ausbau der Bahn zum großen Logistik-Dienstleister, keine Privatisierung!</h4>
                            <p class="animate-fade color-blue-dark">
                                Zusammenarbeit mit Privatfirmen, deutlich weniger und kleinere LKW auf den Straßen. Großprojekte mit enger Einbindung der Bevölkerung. Grünere, „essbare“ Städte, (Nutzpflanzen für die Allgemeinheit auf öffentlichen Grünflächen). Ökologisches Bauen mit modernen Methoden und Techniken nach baubiologischen Standards.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Internationale Unterstützungsleistungen werden künftig zusätzlich in verantwortlichen Patenschaften
                                organisiert.
                            </h4>
                            <p class="animate-fade color-blue-dark">
                                Diese müssen den Interessen und Bedürfnissen der empfangenden Völker dienen. Die Patenschaften werden neutral kontrolliert, bewertet und die Ergebnisse veröffentlicht.
                            </p>
                            <h4 class="animate-fade color-orange-dark">Recht darf kein Privileg der Wohlhabenden oder Mächtigen sein.</h4>
                            <p class="animate-fade color-blue-dark">
                                Gerechtigkeit soll vor dem Gericht siegen. Ausbau des Justizwesens, weniger machtpolitischer Einfluss, mehr Unabhängigkeit, schnellere Verfahren. Bürgerrechte und –schutz sind deutlich zu stärken.
                            </p>
                            <div class="social-profile">
                                <a href="#" class="icon icon-round icon-ghost facebook-bg facebook-color animate-zoom animate-delay-50"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" class="icon icon-round icon-ghost twitter-bg twitter-color animate-zoom animate-delay-100"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" class="icon icon-round icon-ghost whatsapp-bg whatsapp-color animate-zoom animate-delay-150"><i class="ion-ios-telephone-outline"></i></a>
                                <a href="#" class="icon icon-round icon-ghost youtube-bg youtube-color animate-zoom animate-delay-200"><i class="ion-social-youtube-outline"></i></a>
                            </div>
                        </div>
                        <div class="decoration"></div>
                    </div>
                </div>
                <div class="footer footer-dark">
                    <a href="index.html" class="footer-logo scale-hover"></a>
                    <p>
                        Ethik zur Bewahrung der Schöpfung, eine andere Politik ist möglich und notwendig!
                    </p>
                    <div class="footer-socials">
                        <a href="https://www.facebook.com/hoersteldeutschemitte/" class="icon icon-round icon-xs facebook-bg"><i class="ion-social-facebook"></i></a>
                        <a href="https://twitter.com/DeutscheMitte" class="icon icon-round icon-xs twitter-bg"><i class="ion-social-twitter"></i></a>
                        <a href="https://dm-stammtisch.de/" class="icon icon-round icon-xs google-bg"><i class="ion-home"></i></a>
                        <a href="https://www.youtube.com/channel/UCLC_9zmyYs5wFX46KBJz95w/" class="icon icon-round icon-xs youtube-bg"><i class="ion-social-youtube"></i></a>
                        <a href="#" class="icon icon-round icon-xs show-share-bottom bg-blue-light"><i class="ion-android-share"></i></a>
                    </div>
                    <div class="decoration"></div>
                    <p class="copyright-text">GEHEN SIE jetzt MIT <span id="copyright-year"></span>. WIR sind die Zukunft..</p>
                </div>
            </div>
        </div>
    </div>
</ons-page>