<ons-page>
    <ons-toolbar>
        <div class="left">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Arbeit und Soziales
        </div>
        <div class="right">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div id="page-transitions" style="background-color:white">
                <div class="heading-strip center-text bg-2">
                    <i class="dm-verkehr-02-wf icon color-magenta-dark"></i>
                    <h2>Arbeit und Soziales</h2>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div id="page-content-scroll">
                <div class="content">
                <h4>Arbeit und Soziales der Deutschen Mitte auf Vimeo</h4>
                    <div class="one-half-responsive">
                        <div class="responsive-video half-bottom">
                            <iframe src="https://player.vimeo.com/video/74328101"></iframe>
                        </div>
                    </div>
                    <div class="one-half-responsive-last">
                        <p class="center-text full-top thin">
                        Jeder arbeitsfähige Mensch geht einer Beschäftigung nach. Ist diese unentgeltlich, erhält jeder gemeinnützig Tätige ein solidarisches
                        Grundeinkommen, das deutlich über den Sozialleistungen von Hartz-IV liegt.</p>
                    </div>
                <div class="decoration decoration-margins"></div>
                <div class="content">
                    <div class="heading-text">
                        <h3 class="color-dmo-dark">Kurzfassung</h3>
                        <div class="heading-line-1"></div>
                        <i class="ion-android-star-outline color-dm-light"></i>
                        <div class="heading-line-2"></div>
                    </div>
                    <p class="center-text color-dm-dark">
                        Wir wollen einen Mindeststundenlohn von 10 Euro, unterhalb von 8,50 wird nicht diskutiert.
                        <br>Künftig erhalten alle Beschäftigungslosen eine Liste der in ihrer Umgebung tätigen gemeinnützigen
                        Organisationen. Nach und nach, so schnell wie möglich, müssen sie ihren künftigen Arbeitsplatz auswählen
                        und die Arbeit aufnehmen – oder eigene Ideen vorschlagen und bei amtlicher Zustimmung verwirklichen.
                        Ziel: Sinnvolle Arbeitswelten für alle gemäß ihren Wünschen und Fähigkeiten frei von Existenzproblemen.
                        Billiglöhne und Schein-Leiharbeit werden unterbunden.
                        <br>Volle Gleichberechtigung der Geschlechter bei Einstellung, Einkommen und Aufstiegschancen.
                        <br>Familien erhalten großzügige Förderung. Das Auseinanderdriften von Arm und Reich wird gestoppt
                        und zurückgefahren. Die Solidarität aller Menschen untereinander wird gestärkt.
                    </p>
                    <div class="heading-text">
                        <h4 class="center-zoom">Vollprogramm Arbeit und Soziales</h4>
                        <a href="#" class="button button-red button-center button-round button-xs uppercase bold full-bottom">Folgt Vollprogramm Arbeit und Soziales</a>
                    </div>
                    <div class="heading-text">
                        <i class="ion-android-star-outline color-dmo-dark"></i>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
  </ons-page>