
<ons-page id="ons_home.html">
    <ons-toolbar>
        <div class="left">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center"><ons-toolbar-title>Herzlich Willkommen</ons-toolbar-title>
        </div>
        <div class="right">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
        <div style="background-color:white">
            <div id="page-content-scroll">
                <div class="content center-boxed-content">
                    <div class="home-fader animate-zoom animate-time-1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="images/banner/A1Demokratie.jpg" class="responsive-image" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/banner/A1Euro.jpg" class="responsive-image" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/banner/A1Sozialpolitik.jpg" class="responsive-image" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/banner/A1TTIP.jpg" class="responsive-image" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/banner/A1Verfassung.jpg" class="responsive-image" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/banner/A1Zinssystem.jpg" class="responsive-image" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-gradient"></div>
                    <div class="profile-page-1-header center-text">
                        <h3 class="animate-zoom animate-delay-750">Politik geht anders ...!</h3>
                    </div>
                    <div class="animate-fade">
                        <p class="animate-bottom half-top animate-delay-750 center-boxed-text center-text">
                            Der Wähler kann sich darauf Verlassen, WIR setzen genau das um was wir vor der Wahl versprechen. Die selbstangemaßte Machtvollkommenheit
                            der etablierten Apparate in Deutschland hat die Demokratie schon wesentlich beschädigt, das muss
                            aufhören.
                        </p>
                    </div>
                    <div class="decoration deco-dmo decoration-small animate-zoom"></div>
                    <div class="content-center-buttons full-bottom">
                        <h5 class="small-text animate-fade animate-time-1000">Zur Partei:</h5>
                        <a href="standpunkte.html" class="button button-dm button-round button-bold button-xs animate-left">GRUNDLEGENDES</a>
                        <a href="alleinstellungsmerkmale.html" class="button button-dm button-round button-bold button-xs animate-right">BESONDERHEITEN</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="decoration-zig-zag"></div>
                <div class="heading-block bg-5 animate-fade animate-delay-100">
                    <h2 class="thin no-bottom animate-zoom">Wir von der Deutschen Mitte wissen:</h2>
                    <h5 class="small-text animate-fade">verzweifeln, zögern, debattieren: Das können wir uns gar mehr nicht leisten!</h5>
                    <div class="decoration-line-fade deco-dmo"></div>
                    <p class="larger-text thin half-top full-bottom animate-fade">
                        Ausschließlich eine durch alle politischen Fragestellungen und Herausforderungen kompromisslos durchdeklinierte ethische
                        Politik-Ausrichtung bietet noch eine letzte Chance, die blitzschnelle Reise in die Sackgasse vor
                        dem unausweichlichen Crash zu bremsen und womöglich rechtzeitig zu stoppen.
                    </p>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div class="content-fullscreen">
                    <div class="column-half-image-left one-half-responsive">
                        <img class="preload-image" data-original="images/jpg/arbeit10001000.jpg" alt="img">
                        <h4>Keine Koalitionsverhandlungen</h4>
                        <p>
                            Bei uns gibt es keinen „politischen Rabatt“, kein Nachlassen im Qualitätsstreben bei Politik und Satzung: „Deutsche Mitte
                            light“ hat keine Zukunft, wird es nicht geben.
                        </p>
                    </div>
                    <div class="decoration-line-fade hide-if-responsive"></div>
                    <div class="column-half-image-right one-half-responsive last-column">
                        <img class="preload-image" data-original="images/jpg/hinterzimmer10001000.jpg" alt="img">
                        <h4>Rückhaltlos, fristlos, – FURCHTLOS</h4>
                        <p>
                            Kein Schielen nach taktischen Vorteilen, Winkelzügen und Anbiederungen – einfach schlicht nach vorn gehen, mit allem was
                            da und in uns ist.
                        </p>
                    </div>
                    <div class="decoration-line-fade hide-if-responsive"></div>
                    <div class="column-half-image-left one-half-responsive">
                        <img class="preload-image" data-original="images/jpg/zeit10001000.jpg" alt="img">
                        <h4>Wir haben NUR EINE CHANCE!</h4>
                        <p>
                            Wir müssen jeden Tag hinlangen, als ob’s der letzte wäre: umsichtig, verbindlich, gemeinschaftlich! Kein „hätte“, „könnte“,
                            „wollte“, „würde“, kein „wenn“ und kein „aber“!
                        </p>
                    </div>
                    <div class="decoration-line-fade hide-if-responsive"></div>
                    <div class="column-half-image-right one-half-responsive last-column">
                        <img class="preload-image" data-original="images/jpg/kampf10001000.jpg" alt="img">
                        <h4>Wir brauchen SIE – JETZT!!</h4>
                        <p>
                            Das multikriminelle System, das wir bekämpfen, ist nicht nur viel mörderischer als alles was die Menschheitsgeschichte hergibt;
                            vor allem ist es aber auch unendlich viel morscher als es z.b. die Sowjetunion je war.
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="decoration deco-dm decoration-small animate-zoom animate-delay-250"></div>
                <p class="center-text larger-text bold">
                    Um einen schnellen, ersten Eindruck in unsere Bestrebungen zu erhalten, steht der zweiseitige Flyer zur Verfügung.
                </p>
                <a href="flyer120816.html" class="button button-dm button-center button-round button-bold button-xs full-bottom animate-zoom animate-delay-100">FLYER</a>
                <div class="clear"></div>
                <div class="decoration-zig-zag"></div>
                <div class="heading-strip bg-2">
                    <h4 class=" center-text no-bottom animate-zoom">Erlauben sie eine Frage? – bitte seien Sie nicht gram aber: Wann beherzigen SIE den Ruf der Stunde?</h4>
                    <p class="center-text"></p>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div class="content">
                    <p class="center-text thin half-top full-bottom animate-fade">Wir ordnen unser Programm als einzige Partei direkt nach den jeweiligen Ministerien. Desweiteren gilt:</p>
                    <h5 class="center-text thin small-bottom">Parteiprogramm = Wahlprogramm = Regierungsprogramm</h5>
                    <div class="decoration"></div>
                    <div class="decoration deco-dm decoration-small animate-zoom"></div>
                    <div class="one-half-responsive">
                        <div class="column-home-center one-half animate-left animate-delay-250">
                            <i class="ion-social-euro-outline color-green-dark"></i>
                            <h5 class="color-dmo-light thin">Finanzen</h5>
                            <p class="color-dm-dark">Die Zinssklaverei und Finanzoligarchie endet</p>
                        </div>
                        <div class="column-home-center one-half last-column animate-right animate-delay-250">
                            <i class="ion-jet color-red-dark"></i>
                            <h5 class="color-dmo-light thin">Verteidigung</h5>
                            <p class="color-dm-dark">Aufrüstung der BW - Full Spectrum Defence</p>
                        </div>
                    </div>
                    <div class="one-half-responsive last-column">
                        <div class="column-home-center one-half animate-left animate-delay-250">
                            <i class="ion-gear-a color-blue-dark"></i>
                            <h5 class="color-dmo-light thin">Wirtschafts</h5>
                            <p class="color-dm-dark">Förderung ethischer Unternehmenskulturen</p>
                        </div>
                        <div class="column-home-center one-half last-column animate-right animate-delay-250">
                            <i class="ion-ios-medkit-outline color-orange-dark"></i>
                            <h5 class="color-dmo-light thin">Gesundheit</h5>
                            <p class="color-dm-dark">Aufbau ganzheitlicher Gesundheitszentren</p>
                        </div>
                    </div>
                    <div class="decoration deco-dm decoration-small animate-bottom"></div>
                    <div class="decoration decoration-margins"></div>
                    <div class="clear"></div>
                    <p class="center-text larger-text bold animate-bottom">
                        Das 2-seitige "Flugblatt" bietet eine kurze, knappe und zusammenfassende Übersicht der Strategiepläne einzelner Ministerressorts.
                    </p>
                    <a href="flugblatt201501.html" class="button button-dm button-center button-round button-bold full-bottom animate-bottom animate-time-1000 animate-delay-100">FLUGBLATT</a>
                </div>
                <div class="clear"></div>
                <div class="decoration-zig-zag"></div>
                <div class="background-block background-block-fullscreen bg-5">
                    <h2 class="thin no-bottom animate-zoom">Nehmen sie uns beim Wort!</h2>
                    <h5 class="small-text full-bottom animate-fade"></h5>
                    <div class="quote-slider background-block-slider full-bottom animate-zoom">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="review-3">
                                    <i class="color-yellow-dark review-icon ion-quote"></i>
                                    <p>
                                        Frau Merkel, der Wähler hat anders als sie sagen sehr wohl einen Anspruch darauf das jedes Versprechen nach bestem Wissen
                                        und Gewissen gegeben und gehalten wird.
                                    </p>
                                    <div class="review-stars">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                    </div>
                                    <a href="#" class="color-dm-dark">Christoph Hörstel | Deutsche Mitte</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="review-3">
                                    <i class="color-yellow-dark review-icon ion-quote"></i>
                                    <p>
                                        In jedem Ministerium wird gelogen, betrogen, Hochverrats-Politik gemacht und betrieben. Das lassen wir uns auf keinen Fall
                                        bieten. Da wird nachgemessen und zwar cm für cm!
                                    </p>
                                    <div class="review-stars">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                    </div>
                                    <a href="#" class="color-dm-dark">Christoph Hörstel | Deutsche Mitte</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="review-3">
                                    <i class="color-yellow-dark review-icon ion-quote"></i>
                                    <p>
                                        Je frustrierter WIR sind, desto mehr Handlungsfreiheit und Macht bedeutet dies für SIE.
                                    </p>
                                    <div class="review-stars">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                    </div>
                                    <a href="#" class="color-dm-dark">Hans U. P. Tolzin, Sprecher Gesundheitspolitik, Deutsche Mitte</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="review-3">
                                    <i class="color-yellow-dark review-icon ion-quote"></i>
                                    <p>
                                        Wir werden das machen. Wir werden das machen, wir haben nämlich auch gar keine Wahl!
                                        <br>Entweder sind wir völlig frustriert und verzweifelt – oder wir versuchen es auf
                                        Teufel komm raus...
                                    </p>
                                    <div class="review-stars">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                    </div>
                                    <a href="#" class="color-dm-dark">Christoph Hörstel | Deutsche Mitte</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="review-3">
                                    <i class="color-yellow-dark review-icon ion-quote"></i>
                                    <p>
                                        ...und ehrlich gesagt, genau das möchte ich. Ich möchte dass der Teufel aus diesem Land ‚rausgeht. Wir wollen ihn zusammen
                                        rausjagen.
                                    </p>
                                    <div class="review-stars">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                    </div>
                                    <a href="#" class="color-dm-dark">Christoph Hörstel | Deutsche Mitte</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="review-3">
                                    <i class="color-yellow-dark review-icon ion-quote"></i>
                                    <p>
                                        Wir werden aufstehen, uns gerade hinstellen und die Prinzipien nennen für die wir gemeinsam stehen und notfalls sterben wollen.
                                    </p>
                                    <div class="review-stars">
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                        <i class="ion-ios-star"></i>
                                    </div>
                                    <a href="#" class="color-dm-dark">Christoph Hörstel | Deutsche Mitte</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <a href="yt-stammtisch-videos.html" class="button-ghost button-center-large button-bold button-round animate-zoom animate-delay-300">VORTÄGE + FRAGERUNDEN</a>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div class="clear"></div>
                <div class="decoration-margins"></div>
                <h3 class="thin center-text animate-left">Das Kurzprogramm</h3>
                <p class="small-text center-text animate-right">6-Seitig </p>
                <img class="responsive-image center-boxed-text animate-zoom animate-delay-100" src="images/2.gif" alt="img">
                <div class="clear"></div>
                <div class="decoration decoration-margins"></div>
                <div class="decoration deco-dm decoration-small animate-bottom animate-delay-250"></div>
                <p class="center-text larger-text bold animate-bottom">
                    Noch Umfassender informiert das 6-seitige Kurzprogramm, als weiterer Schritt der Herarchie in der Programm-Gestaltung.
                </p>
                <a href="dm-kurzprogramm-2016.html" class="button button-dm button-center button-round button-bold full-bottom animate-top animate-1000">KURZPROGRAMM</a>
                <div class="clear"></div>
                <div class="decoration-zig-zag deco-dmo"></div>
                <div class="heading-strip bg-6 center-text deco-dmo">
                    <i class="ion-person-stalker color-dmo-light"></i>
                    <h4>Bundesvorstand</h4>
                    <p>Zusammen überwinden wir das System!</p>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div class="decoration decoration-margins"></div>
                <div class="content-fullscreen">
                    <div class="staff-slider animate-fade">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="column-center-image">
                                    <img class="col-img-1" src="images/parteispitze/ProfDrFranzHoermann.jpg" alt="img">
                                    <img class="col-img-2" src="images/parteispitze/ChristophRHoerstel.jpg" alt="img">
                                    <img class="col-img-3" src="images/parteispitze/ClaasFischer.jpg" alt="img">
                                    <h3>Christoph R. Hörstel</h3>
                                    <h4>BUNDESVORSITZENDER</h4>
                                    <p class="half-bottom">
                                        Experte für Zentral- & Südasien, Nah- & Mittelost, Sicherheitsfragen - Geboren 1956 in Bremen, verheiratet, vier Kinder.
                                        <br> Nach dem Wehrdienst Ausbildung bei der Deutschen Bank und Studium in München:
                                        Sinologie und Romanistik. Ab 1985 Mitarbeit beim ARD-Fernsehen als Sonderkorrespondent,
                                        Nachrichtenmoderator (2.500 live Sendungen) und Chef vom Dienst.
                                    </p>
                                    <div class="two-column-icons no-bottom">
                                        <a href="http://www.deutsche-mitte.de/wp-content/uploads/2015/11/ho%CC%88rstel-selbstvorstellung.pdf" class="icon icon-round icon-s dm-bg"><i class="ion-ios-person"></i></a>
                                        <a href="http://dm-stammtisch.de/index.php?r=user%2Fprofile&uguid=f613a591-a6cf-4d81-81b9-e2ffcdb12870" class="icon icon-round icon-s dmo-bg"><i class="ion-disc"></i></a>
                                    </div>
                                    <div class="two-column-icons no-bottom">
                                        <a href="https://www.facebook.com/pg/hoersteldeutschemitte/" class="icon icon-round icon-s facebook-bg"><i class="ion-social-facebook"></i></a>
                                        <a href="https://www.youtube.com/channel/UC141nSav5cjmTXN7B70ts0g" class="icon icon-round icon-s youtube-bg"><i class="ion-social-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="column-center-image">
                                    <img class="col-img-1" src="images/parteispitze/ChristophRHoerstel.jpg" alt="img">
                                    <img class="col-img-2" src="images/parteispitze/ClaasFischer.jpg" alt="img">
                                    <img class="col-img-3" src="images/parteispitze/JeanetteUzkas.jpg" alt="img">
                                    <h3>Claas Fischer</h3>
                                    <h4>Stv. Bundesvorsitzender</h4>
                                    <p class="half-bottom">
                                        Verfechter von Menschlichkeit und Natürlichkeit - Geboren 1972 in Lüdenscheid, verheiratet, zwei Kinder.
                                        <br> Abitur & Zivildienst, 1994 Friedensstudien in Neumexiko (USA), 1995 Studium
                                        der Geoökologie. Weiterbildungen in Natur- und Landschaftspflege, Geomantie, Baubiologie,
                                        Coaching, Jugendarbeit und Gewaltprävention.2001 Mitarbeit im Nationalpark Unteres
                                        Odertal, 2004 Gründung von „Natürlich Stimmig – Bildungsarbeit für Natur- und Selbstkompetenz“
                                        in Potsdam
                                    </p>
                                    <div class="two-column-icons no-bottom">
                                        <a href="http://www.deutsche-mitte.de/wp-content/uploads/2015/11/fischer-selbstvorstellung.pdf" class="icon icon-round icon-s dm-bg"><i class="ion-ios-person"></i></a>
                                        <a href="http://dm-stammtisch.de/index.php?r=user%2Fprofile&uguid=23a2c5b5-b8fc-460a-bdb9-b20bb0c71c3d" class="icon icon-round icon-s dmo-bg"><i class="ion-disc"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="column-center-image">
                                    <img class="col-img-1" src="images/parteispitze/ClaasFischer.jpg" alt="img">
                                    <img class="col-img-2" src="images/parteispitze/JeanetteUzkas.jpg" alt="img">
                                    <img class="col-img-3" src="images/parteispitze/JohannesGerhardMadsen.jpg" alt="img">
                                    <h3>Jeanette Uzkas</h3>
                                    <h4>Generalsekretär</h4>
                                    <p class="half-bottom">
                                        Künstlerin mit abgeschlossenen Studium der Staatlichen Hochschule der bildenden Künste.- Geboren 1959 in Kenzingen/Breisgau,
                                        1 Kind.
                                        <br> Ausbildung zur Kauffrau beim Lebensversicherer Allianz. Nach Sonderbegabtenprüfung
                                        Studium der Bildhauerei an der Staatlichen Hochschule der bildenden Künste, Stuttgart
                                        mit abgeschlossenem Studium 2004 Lehrtätigkeit: Internationale Schule Henke, Stuttgart,
                                        im Fach Kunst 2015 Lehrtätigkeit an Gymnasien, Kirchheim/Teck, im Fach Kunst
                                    </p>
                                    <div class="two-column-icons no-bottom">
                                        <a href="http://www.deutsche-mitte.de/wp-content/uploads/2016/02/Uzkas.pdf" class="icon icon-round icon-s dm-bg"><i class="ion-ios-person"></i></a>
                                        <a href="http://dm-stammtisch.de/index.php?r=user%2Fprofile&uguid=e6ccb3c6-fe85-4ab4-bafa-5a8f032ab735" class="icon icon-round icon-s dmo-bg"><i class="ion-disc"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="column-center-image">
                                    <img class="col-img-1" src="images/parteispitze/JeanetteUzkas.jpg" alt="img">
                                    <img class="col-img-2" src="images/parteispitze/JohannesGerhardMadsen.jpg" alt="img">
                                    <img class="col-img-3" src="images/parteispitze/HansUPTolzin.png" alt="img">
                                    <h3>Johannes Gerhard Madsen</h3>
                                    <h4>Bundesschatzmeister</h4>
                                    <p class="half-bottom">
                                        Geboren 1953 in Castrop-Rauxel, verheiratet, vier Kinder.
                                        <br> Nach Abitur und Wehrpflicht Physik-Studium in Münster, Programmiersprachen-Weiterbildung
                                        in Münster und Gießen Tätigkeit als Programmierer.
                                    </p>
                                    <div class="two-column-icons no-bottom">
                                        <a href="http://www.deutsche-mitte.de/wp-content/uploads/2015/11/Madsen.pdf" class="icon icon-round icon-s dm-bg"><i class="ion-ios-person"></i></a>
                                        <a href="http://dm-stammtisch.de/index.php?r=user%2Fprofile&uguid=cb9af61e-252e-4ff1-9df9-052f9e42e19e" class="icon icon-round icon-s dmo-bg"><i class="ion-disc"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="column-center-image">
                                    <img class="col-img-1" src="images/parteispitze/JohannesGerhardMadsen.jpg" alt="img">
                                    <img class="col-img-2" src="images/parteispitze/HansUPTolzin.png" alt="img">
                                    <img class="col-img-3" src="images/parteispitze/ProfDrFranzHoermann.jpg" alt="img">
                                    <h3>Hans U. P. Tolzin</h3>
                                    <h4>Sprecher für Gesundheitspolitik</h4>
                                    <p class="half-bottom">
                                        Medizin-Journalist, Autor und Impfkritiker
                                        <br> Ziel einer Gesundheitspolitik, die den Menschen diene und nicht den Kartellen,
                                        müsse die völlige Therapiefreiheit sein, so dass der Krankenversicherte, dem seine
                                        Gesundheit wichtig ist, hochwirksame und kosteneffektive Alternativ- und Naturmedizin
                                        wählen kann, sofern er dies wünscht.
                                    </p>
                                    <div class="two-column-icons no-bottom">
                                        <a href="http://www.deutsche-mitte.de/wp-content/uploads/2015/11/Madsen.pdf" class="icon icon-round icon-s dm-bg"><i class="ion-ios-person"></i></a>
                                        <a href="http://dm-stammtisch.de/index.php?r=user%2Fprofile&uguid=cb9af61e-252e-4ff1-9df9-052f9e42e19e" class="icon icon-round icon-s dmo-bg"><i class="ion-disc"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="column-center-image">
                                    <img class="col-img-1" src="images/parteispitze/HansUPTolzin.png" alt="img">
                                    <img class="col-img-2" src="images/parteispitze/ProfDrFranzHoermann.jpg" alt="img">
                                    <img class="col-img-3" src="images/parteispitze/ChristophRHoerstel.jpg" alt="img">
                                    <h3>Prof. Dr. Franz Hörmann</h3>
                                    <h4>Sprecher für Finanzpolitik</h4>
                                    <p class="half-bottom">
                                        Seine Aufgabe wird es sein, basierend auf seinen umfassenden Kenntnissen des aktuellen Finanzsystems, einen für alle Gesellschaftsgruppen
                                        verständlichen und akzeptablen Weg vom Nullsummenspiel des verzinsten Schuldgeldsystems
                                        in ein Geldsystem zur positiven Motivation zur Zusammenarbeit und persönlichen Entfaltung
                                        auszuarbeiten und in einen konstruktiven Multilog einzubringen.
                                    </p>
                                    <div class="two-column-icons no-bottom">
                                        <a href="https://www.youtube.com/watch?v=5yLCSnx0PoY" class="icon icon-round icon-s youtube-bg"><i class="ion-social-youtube"></i></a>
                                        <a href="http://quer-denken.tv/wp-content/uploads/mp3/hoermann_qdk16.mp3" class="icon icon-round icon-s dmo-bg"><i class="ion-disc"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
    <div class="footer footer-dark">
        <a href="index.html" class="footer-logo scale-hover"></a>
        <div style="font-size:10px; background-color: rgba(249, 249, 249, 0.85); margin: 20px 0px; text-align:center">
            <h4 class="center-text">Machen Sie mehr Leute auf uns aufmerksam...</h4>
        </div>

<ons-speed-dial>
  <ons-fab>
Teilen  </ons-fab>        <div class="share-socials-bottom icon">

  <ons-speed-dial-item>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://deutsche-mitte.de/">
                <i class="ion-social-facebook-outline facebook-bg"></i> Facebook
            </a>
  </ons-speed-dial-item>
  <ons-speed-dial-item>
                <a href="https://twitter.com/home?status=Schluss%20mit%20der%20Kartellherrschaft.%20Deutsche-Mitte%20https://deutsche-mitte.de/">
                <i class="ion-social-twitter-outline twitter-bg"></i> Twitter
            </a>
  </ons-speed-dial-item>
  <ons-speed-dial-item>
                <a href="https://plus.google.com/share?url=https://deutsche-mitte.de/">
                <i class="ion-social-googleplus-outline google-bg"></i> Google
            </a>
  </ons-speed-dial-item>
    <ons-speed-dial-item>
            <a href="https://pinterest.com/pin/create/button/?url=https://deutsche-mitte.de/&media=https://deutsche-mitte.de/wp-content/uploads/2016/01/logo-e1452107476876.png&description=Deutsche%20Mitte%20">
                <i class="ion-social-pinterest-outline pinterest-bg"></i> Pinterest
            </a>
  </ons-speed-dial-item>
    <ons-speed-dial-item>
            <a href="mailto:?&subject=Schluss mit der Kartellherrschaft! Deutsche-Mitte!&body=Die Deutsche Mitte bereitet sich auf die Bundestagswahl 2017 vor. Wenn Sie nicht einverstanden sind mit der unsäglichen Politik, die in Berlin verbrochen wird, sind Sie bei uns genau richtig: Für mehr Informationen schauen sie doch mal auf unserer Internetseite vorbei:   https:/deutsche-mitte.de/   -  
                Wir reden nicht nur, wir handeln; wir sagen exakt was wir wollen - und genau das werden wir auch tun. Haben Sie Fragen? An unserem Online-Stammtisch ist jeder Willkommen:   https://dm-stammtisch.de/">
                <i class="ion-ios-email-outline mail-bg"></i> Email
            </a>

</ons-speed-dial-item>        </div>  
</ons-speed-dial>






        <div class="decoration"></div>
        <p>Wir wollen nicht nur reden, wir wollen handeln, und genau das werden wir auch tun. Machen Sie uns Handlungsfähig!
            Unterstützen Sie uns! Treten Sie der DM bei!</p>
        <div style=" background-color: rgba(249, 249, 249, 0.85); margin: 20px 0px; text-align:center">
            <p class="copyright-text"><em class="color-dm-dark">GEHEN SIE jetzt MIT <span class="copyright-year"></span>. WIR sind die Zukunft..</em></p>
            <h5 style="font-size:10px"><em class="color-dm-dark">Deutsche Mitte</em></h5>
        </div><ons
        <div class="footer-socials column-icon">
            <a href="https://www.facebook.com/hoersteldeutschemitte/" class="icon icon-round icon-xs facebook-bg"><i class="ion-social-facebook"></i></a>
            <a href="https://twitter.com/DeutscheMitte" class="icon icon-round icon-xs twitter-bg"><i class="ion-social-twitter"></i></a>
            <a href="#" class="icon icon-round icon-xs dmo-bg"></a>
            <a href="https://dm-stammtisch.de/" class="icon icon-round icon-xs google-bg"><i class="ion-home"></i></a>
            <a href="https://www.youtube.com/channel/UCLC_9zmyYs5wFX46KBJz95w/" class="icon icon-round icon-xs youtube-bg"><i class="ion-social-youtube"></i></a>
        </div>
    </div>
</ons-page>