  <ons-page>
    <ons-toolbar>
      <div class="center">List + Accordion</div>
    </ons-toolbar>
    <br>

    <ons-list ng-controller="MyCtrl">
      <div ng-repeat="group in groups">
        <ons-list-item ng-click="toggleGroup(group)" class="title" ng-class="{active:isGroupShown(group)}">
          <ons-icon icon="minus-square-o" ng-if="isGroupShown(group)"></ons-icon>
          <ons-icon icon="plus-square-o" ng-if="!isGroupShown(group)"></ons-icon>
          Group {{group.name}}
        </ons-list-item>
        <ons-list-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
          {{item}}
                    {{item}}
          {{item}}

        </ons-list-item>
                <ons-list-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
          {{item}}
        </ons-list-item>
                <ons-list-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
          {{item}}
        </ons-list-item>
      </div>
    </ons-list>
  </ons-page>
