<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Alleinstellungsmerkmale
        </div>
        <div class="right">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="page-transitions" style="background-color:white">
        <div id="page-content-scroll">
            <div id="page-content-scroll">
                <div class="heading-strip bg-3">
                    <h3>Videos auf Vimeo</h3>
                    <p>Informationen zu Parteigrundsätzen</p>
                    <i class="ion-social-youtube-outline"></i>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div class="decoration decoration-margins"></div>
                <div class="content">
                    <div class="post-body">
                        <div>
                            <h3>Wofür steht die Deutsche Mitte?</h3>
                            <p><a title="Wofür steht die Deutsche Mitte?" href="http://www.deutsche-mitte.de/wofuer-steht-deutsche-mitte/">Die Deutsche Mitte steht für ethische Politik: mit Herz, Augenmaß und Vernunft. Regieren heißt dienen – nicht herrschen.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https//player.vimeo.com/video/74293745"></iframe>
                            </div>
                        </div>
                        <div class="decoration decoration-margins"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Aussenpolitik</h3>
                            <p><a title="Außenpolitik" href="http://www.deutsche-mitte.de/aussenpolitik/">Die Deutsche Mitte steht für Freundschaft mit allen Völkern. Schluss mit der Abenteuer-Politik bei Euro, Finanzen und fernen Auslandseinsätzen unserer Bundeswehr. Schluss mit Einmischungspolitik, Sanktionen und Drohungen.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74293746"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive last-column">
                            <h3>Innenpolitik</h3>
                            <p><a title="Innenpolitik" href="http://www.deutsche-mitte.de/innenpolitik/">Wir wollen mehr und besser bezahlte Polizisten, die wir persönlich kennen. Ausländer wollen wir künftig besser aussuchen, respektieren, behandeln und integrieren. Viel mehr Mitsprache für alle Bürger!</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74293746"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Finanzen</h3>
                            <p><a title="Finanzpolitik" href="http://www.deutsche-mitte.de/finanzpolitik/">Banken werden ehrliche Dienstleister, Zinsen abgeschafft. Zockerei wird verboten, Geldschöpfung kommt unter öffentliche Kontrolle. Wir schließen die Schere zwischen Arm und Reich.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74316225"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive last-column">
                            <h3>Wirtschaft und Technologie</h3>
                            <p>
                                <a title="Wirtschaft" href="http://www.deutsche-mitte.de/wirtschaft/">Unternehmen, die sozial und flexibel arbeiten, erhalten Steuererleichterungen, je sozialer desto mehr.</a>
                                <br>
                                <a title="Wirtschaft" href="http://www.deutsche-mitte.de/wirtschaft/"> Familienunternehmen, Genossenschaften und Stiftungen sowie Mitarbeiterbeteiligung werden gefördert. Eingebaute Produktalterung (Obsoleszenz) wird bestraft, die Garantiefrist verlängert.</a>
                            </p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74328102"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Arbeit und Soziales</h3>
                            <p><a title="Arbeit und Soziales" href="http://www.deutsche-mitte.de/arbeit-und-soziales/">Arbeitslosigkeit verschwendet Steuern und Leben: Unser freiwilliges Beschäftigungsprogramm bietet deutlich mehr Geld als derzeit Hartz 4, das ebenfalls erhöht wird; später: BGE! Familien erhalten großzügige Förderung. Mindeststundenlohn 10 Euro!</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74328101"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive last-column">
                            <h3>Verteidigung</h3>
                            <p><a title="Verteidigung" href="http://www.deutsche-mitte.de/verteidigung/">Deutschland kehrt zur Wehrpflichtarmee zurück. Die Gewissensfreiheit für Soldaten wird bestärkt. Wer keinen Wehrdienst leistet, wird zu einem sozialen Jahr nach eigener Wahl verpflichtet.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74316236"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Bildung und Forschung</h3>
                            <p><a title="Bildung und Forschung" href="http://www.deutsche-mitte.de/bildung-und-forschung/">Große Investitionen in Bildung und Forschung machen Deutschland wieder zur führenden Nation in diesem Bereich. KiTa-Plätze für alle, Schulklassen unter 20 Kinder, Ausbau der Universitäten, mehr wissenschaftliche Freiheit und Unabhängigkeit.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74331137"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive last-column">
                            <h3>Familie, Senioren, Frauen und Jugend</h3>
                            <p><a title="Familie, Senioren, Frauen und Jugend" href="http://www.deutsche-mitte.de/familie-senioren-frauen-und-jugend/">50% mehr Kindergeld, Verlängerung des Elterngeldes auf drei Jahre – und endlich genügend Kitas für alle! Höhere Renten! Mehr und bessere Freizeitangebote für Jugendliche! Homo-Ehe: ja!</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74331138"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Gesundheit</h3>
                            <p><a title="Gesundheit" href="http://www.deutsche-mitte.de/gesundheit/">Überteuerte Kartellmedizin durch wirkungsvollere, höherwertige und preisgünstigere natürliche Methoden ersetzen! Der Einfluss weniger Pharma-Riesen wird ebenso zurückgedrängt wie die Profitgier im Gesundheitswesen. Endlich gerechte Bezahlung für Pflegeberufe und Hebammen!</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74334383"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive last-column">
                            <h3>Umwelt, Naturschutz und Reaktorsicherheit</h3>
                            <p><a title="Umwelt, Naturschutz und Reaktorsicherheit" href="http://www.deutsche-mitte.de/umwelt-naturschutz-und-reaktorsicherheit/">Umwelt- und Naturschutz erhalten hohen Vorrang. Umweltverbrecher werden stärker verfolgt und bestraft, auch im Nuklearbereich und bei Elektro- und Strahlen-Smog. Genmanipulierte Produkte ’raus aus der Nahrungskette.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74331141"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Ernährung, Landwirtschaft, Verbraucherschutz</h3>
                            <p><a title="Ernährung, Landwirtschaft und Verbraucherschutz" href="http://www.deutsche-mitte.de/ernaehrung-landwirtschaft-und-verbraucherschutz/">Bienenvölker gesetzlich schützen, weil sonst die gesamte Natur zusammenbricht. Bewahrung und Förderung altbewährten Saatgutes. Wasser und Nahrung ist Menschenrecht, kein Konzernspielzeug!</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74334384"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive last-column">
                            <h3>Verkehr, Bau,&nbsp;Stadtentwicklung&nbsp;</h3>
                            <p><a title="Verkehr, Bau und Stadtentwicklung" href="http://www.deutsche-mitte.de/verkehr-bau-und-stadtentwicklung/">Voll-Ausbau der Bahn zum großen Logistik-Dienstleister, keine Privatisierung. Baubiologische Standards, grünere und „essbare“ Städte.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74316229"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Wirtschaftliche Zusammenarbeit und Entwicklung</h3>
                            <p><a title="Wirtschaftliche Zusammenarbeit und Entwicklung" href="http://www.deutsche-mitte.de/wirtschaftliche-zusammenarbeit-und-entwicklung/">Internationale Unterstützungsleistungen werden künftig zusätzlich in verantwortlichen Patenschaften organisiert. Diese müssen den Interessen und Bedürfnissen der empfangenden Völker dienen.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74316234"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive last-column">
                            <h3>Justiz</h3>
                            <p><a title="Justiz" href="http://www.deutsche-mitte.de/justiz/">Recht darf kein Privileg der Wohlhabenden oder Mächtigen sein. Gerechtigkeit soll vor Gericht siegen. Ausbau des Justizwesens, weniger machtpolitischer Einfluss, mehr Unabhängigkeit, schnellere Verfahren.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74316229"></iframe>
                            </div>
                        </div>
                        <div class="decoration hide-if-responsive"></div>
                        <div class="one-half-responsive first-column">
                            <h3>Finanzierung der DM-Politik</h3>
                            <p><a title="Finanzierung der DM-Politik" href="http://www.deutsche-mitte.de/dm-politik/">Die Finanzierung der Ausgabenpläne der Deutschen Mitte ist ohne Neuverschuldung gesichert: aus Verbesserungen, Reformen und den umfassenden Änderungen in Finanz- und Geldsystem. Grundsätzlich wird die Gesamtschuldenlast schrittweise jedes Jahr gesenkt.</a></p>
                            <div class="responsive-video full-bottom">
                                <iframe src="https://player.vimeo.com/video/74331139"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer footer-dark">
                    <a href="index.html" class="footer-logo scale-hover"></a>
                    <p>
                        Ethik zur Bewahrung der Schöpfung, eine andere Politik ist möglich und notwendig!
                    </p>
                    <div class="footer-socials">
                        <a href="https://www.facebook.com/hoersteldeutschemitte/" class="icon icon-round icon-xs facebook-bg"><i class="ion-social-facebook"></i></a>
                        <a href="https://twitter.com/DeutscheMitte" class="icon icon-round icon-xs twitter-bg"><i class="ion-social-twitter"></i></a>
                        <a href="https://dm-stammtisch.de/" class="icon icon-round icon-xs google-bg"><i class="ion-home"></i></a>
                        <a href="https://www.youtube.com/channel/UCLC_9zmyYs5wFX46KBJz95w/" class="icon icon-round icon-xs youtube-bg"><i class="ion-social-youtube"></i></a>
                        <a href="#" class="icon icon-round icon-xs show-share-bottom bg-blue-light"><i class="ion-android-share"></i></a>
                    </div>
                    <div class="decoration"></div>
                    <p class="copyright-text">GEHEN SIE jetzt MIT <span id="copyright-year"></span>. WIR sind die Zukunft..</p>
                </div>
            </div>
        </div>
    </div>
</ons-page>