<ons-page>
    <ons-toolbar>
        <div class="left">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Arbeit und Soziales
        </div>
        <div class="right">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div id="page-transitions" style="background-color:white">
                <div class="heading-strip center-text bg-2">
                    <i class="dm-verkehr-02-wf icon color-magenta-dark"></i>
                    <h2>Außenpolitik</h2>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div id="page-content-scroll">
                <div class="content">
                <h4>Außenpolitik von Deutsche Mitte on Vimeo</h4>
                    <div class="one-half-responsive">
                        <div class="responsive-video half-bottom">
                            <iframe src="https://player.vimeo.com/video/74293746"></iframe>
                        </div>
                    </div>
                    <div class="one-half-responsive-last">
                        <p class="center-text full-top thin">
                        Mit Augenmaß, gut abgestimmt mit Partnern und Freunden und ohne großen Wirbel verlässt Deutschland
                            die Euro-Gruppe – nicht als erstes Land, um Missstimmung zu vermeiden.Der Vertrag von Lissabon,
                            über den die Bevölkerung nicht abstimmen durfte, wird nachträglich einem Volksentscheid unterworfen
                            und im Ablehnungsfalle selbstverständlich aufgekündigt.</div>
                <div class="decoration decoration-margins"></div>
                <div class="content">
                    <div class="heading-text">
                        <h3 class="color-dmo-dark">Kurzfassung</h3>
                        <div class="heading-line-1"></div>
                        <i class="ion-android-star-outline color-dm-light"></i>
                        <div class="heading-line-2"></div>
                    </div>
                    <p class="center-text color-dm-dark">
                       Gleichzeitig legt die Bundesregierung abgesprochene Vorschläge für eine umfassende EU-Reform vor. Europa wird gestärkt und
                        deutlich demokratisiert, mit mehr Mitbestimmung durch die Euro-Völker, Wahl aller Gremien, Beendigung
                        der Entscheidungsmacht der jetzigen EU-Kommission.
                        <br> Die Deutsche Mitte fördert die Sanierungskraft hoch verschuldeter Euro-Länder. Zahlungen an
                        verschuldete Euro-Länder erfolgen nur noch gegen dreifache Sicherheitsleistung und ab Förderbeträgen
                        von insgesamt mehr als 20% des betreffenden Bundeshaushalts ausschließlich nach Zustimmung der eigenen
                        und der Empfänger-Bevölkerung.
                        <br> Mit der Förderung internationaler Gewerkschaftspolitik gehen wir auf die große Mehrzahl der
                        Menschen in aller Welt zu.
                        <br> Keine Abenteuer-Politik bei Regierungswechseln in anderen Ländern (Libyen, Syrien), grundsätzliche
                        Beachtung der Nichteinmischung in die inneren Angelegenheiten anderer Länder.
                        <br> Die Deutsche Mitte tritt weltweit für gerechten Frieden ein.Gerechten Frieden in Nahost fördern
                        wir, eine deutsche Staatsräson für die Sicherheit Israels kann und wird es nicht geben. Ungerechte
                        und sinnlose Sanktionen werden beendet.
                        <br> Deutsche Soldaten werden aus dem Nicht-Nato-Ausland („out of area“) abgezogen und verbleiben
                        fortan ausschließlich im Nato-Gebiet. Gleichzeitig werden schrittweise binnen fünf Jahren alle ausländischen
                        Truppen aus Deutschland abgezogen. Zur Friedenssicherung wird Deutschland seine Truppen aus der Nato-Struktur
                        so lange herausziehen, bis die Nato sämtliche Einsätze außerhalb des Nato-Gebiets beendet hat. Sollten
                        jedoch einzelne Nato-Partner ohne Zustimmung des UN-Sicherheitsrates noch weitere Völker überfallen
                        und Kriege anzetteln, wird sich die Deutsche Mitte für einen Austritt aus der Nato einsetzen.
                        <br> Truppeneinsätze benötigen künftig bessere Strategien.
                        <br> Wir sind und bleiben enge Freunde und Verbündete unserer EU-Nachbarn und Nato-Partner, diese
                        Beziehungen wollen wir vorrangig besonders pflegen, vor allem im Interesse der Völker – doch deutsche
                        Außenpolitik kann mehr als nur Bündnis- oder EU-Politik.Mit Russland und anderen Staaten oder Staatengruppen
                        werden friedenswahrende Rückversicherungsverträge abgeschlossen.</p>
                    <div class="heading-text">
                        <h4 class="center-zoom">Vollprogramm Aussenpolitik</h4>
                        <a href="http://deutsche-mitte.de/wp-content/uploads/2014/08/2014_august_DM-AA-1neu.pdf" class="button button-green button-center button-round button-xs uppercase bold full-bottom animate-zoom">Download Vollprogramm Außenpolitik</a>
                        <a href="programm-aussenpolitik.html" class="button button-dmo button-center button-round button-xs uppercase bold full-bottom animate-zoom">Öffnen</a>                    </div>
                    <div class="heading-text">
                        <i class="ion-android-star-outline color-dmo-dark"></i>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
  </ons-page>