<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Alleinstellungsmerkmale
        </div>
        <div class="right">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="page-transitions" style="background-color:white">
            <div id="page-content-scroll">
                <div class="heading-strip bg-3">
                    <h3>Vorträge und Fragerunden</h3>
                    <p>Christoph Hörstel - DM-Stammtische</p>
                    <i class="ion-social-youtube-outline"></i>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div>
                    <div class="responsive-video full-bottom">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/XOV1hdBvMIs" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="content">
                    <div class="center-text">
                        <h3>..habe mit der Familie Rothschild Kontakt aufgenommen.</h3>Christoph Hörstel
                        <p>
                            ▶Aber sie antworten noch nicht!
                            <br> Wir finden Geldgeber durch unser Mitgliederwachstum! Darunter sind auch "kleine" Oligarchen.
                            <br> WIR WACHSEN!
                            <br> Und wir haben die Aufgabe und die Pflicht, so stark zu werden, dass wir den großen Oligarchen
                            sagen können:
                            <br> JETZT IST SCHLUSS mit einem menschenverachtenden, naturzerstörenden System, das alles kaputtschlägt.
                            <br> WIR SIND NICHT AUFZUHALTEN.
                            <br> Wir haben NUR EINE CHANCE!! Machen Sie mit - SCHREIBEN SIE MIT UNS GESCHICHTE!
                        </p>
                    </div>
                    <div class="decoration decoration-margins"></div>
                    <div class="center-text">
                        <h3>YouTube Playlist</h3>
                        <p>Vorträge und offene Fragerunden mit Christoph Hörstel (Vorsitzender der Partei Deutschen Mitte)</p>
                    </div>
                    <div class="responsive-video full-bottom">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/videoseries?list=PLbuZ9Qufj68rWWDOFWCxdY2vtnBoAWRe0"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="footer footer-dark">
                    <a href="index.html" class="footer-logo scale-hover"></a>
                    <p>
                        Ethik zur Bewahrung der Schöpfung, eine andere Politik ist möglich und notwendig!
                    </p>
                    <div class="footer-socials">
                        <a href="https://www.facebook.com/hoersteldeutschemitte/" class="icon icon-round icon-xs facebook-bg"><i class="ion-social-facebook"></i></a>
                        <a href="https://twitter.com/DeutscheMitte" class="icon icon-round icon-xs twitter-bg"><i class="ion-social-twitter"></i></a>
                        <a href="https://dm-stammtisch.de/" class="icon icon-round icon-xs google-bg"><i class="ion-home"></i></a>
                        <a href="https://www.youtube.com/channel/UCLC_9zmyYs5wFX46KBJz95w/" class="icon icon-round icon-xs youtube-bg"><i class="ion-social-youtube"></i></a>
                        <a href="#" class="icon icon-round icon-xs show-share-bottom bg-blue-light"><i class="ion-android-share"></i></a>
                    </div>
                    <div class="decoration"></div>
                    <p class="copyright-text">GEHEN SIE jetzt MIT <span id="copyright-year"></span>. WIR sind die Zukunft..</p>
                </div>
            </div>
            <a href="#" class="back-to-top-badge"><i class="ion-ios-arrow-up"></i></a>
            <div class="share-bottom share-dark">
                <h3>Machen Sie mehr Leute auf uns aufmerksam...</h3>
                <div class="share-socials-bottom">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://deutsche-mitte.de/">
                        <i class="ion-social-facebook-outline facebook-bg"></i> Facebook
                    </a>
                    <a href="https://twitter.com/home?status=Schluss%20mit%20der%20Kartellherrschaft.%20Deutsche-Mitte%20https://deutsche-mitte.de/">
                        <i class="ion-social-twitter-outline twitter-bg"></i> Twitter
                    </a>
                    <a href="https://plus.google.com/share?url=https://deutsche-mitte.de/">
                        <i class="ion-social-googleplus-outline google-bg"></i> Google
                    </a>
                    <a href="https://pinterest.com/pin/create/button/?url=https://deutsche-mitte.de/&media=https://deutsche-mitte.de/wp-content/uploads/2016/01/logo-e1452107476876.png&description=Deutsche%20Mitte%20">
                        <i class="ion-social-pinterest-outline pinterest-bg"></i> Pinterest
                    </a>
                    <a href="#">
                        <i class="ion-ios-chatboxes-outline sms-bg"></i>
                    </a>
                    <a href="mailto:?&subject=Schluss mit der Kartellherrschaft! Deutsche-Mitte!&body=Die Deutsche Mitte bereitet sich auf die Bundestagswahl 2017 vor. Wenn Sie nicht einverstanden sind mit der unsäglichen Politik, die in Berlin verbrochen wird, sind Sie bei uns genau richtig: Für mehr Informationen schauen sie doch mal auf unserer Internetseite vorbei:   https:/deutsche-mitte.de/   -  
                Wir reden nicht nur, wir handeln; wir sagen exakt was wir wollen - und genau das werden wir auch tun. Haben Sie Fragen? An unserem Online-Stammtisch ist jeder Willkommen:   https://dm-stammtisch.de/">
                        <i class="ion-ios-email-outline mail-bg"></i> Email
                        </a>
                        <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</ons-page>