<ons-page>
    <ons-toolbar>
        <div class="left">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Alleinstellungsmerkmale
        </div>
        <div class="right">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div id="page-transitions" style="background-color:white">
            <div id="page-content-scroll">
                <div class="heading-strip bg-1">
                    <h3>Alleinstellungsmerkmale</h3>
                    <p>der Deutschen Mitte</p>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div class="decoration decoration-margins"></div>
                <div class="content">
                    <p>
                        Die Deutsche Mitte entwickelt sich kräftig; einige wichtige Klärungen mögen helfen, diese Entwicklung zu deuten: mit zehn
                        Alleinstellungsmerkmalen der Deutschen Mitte in der deutschen Parteienlandschaft.
                    </p>
                </div>
                <div class="decoration decoration-margins"></div>
                <div class="heading-strip bg-3">
                    <h3>Zehn Punkte</h3>
                    <i class="ion-android-create"></i>
                    <div class="overlay dark-overlay"></div>
                </div>
                <div class="decoration decoration-margins"></div>
                <div class="content">
                    <div class="one-half-responsive first-column">
                        <p class="dropcaps-4">
                            1. Viele Menschen haben sich vom Politikgeschehen derartig frustrieren lassen, dass sie das Wort „Partei“ schon nicht mehr
                            hören können. Die selbstangemaßte Machtvollkommenheit der etablierten Apparate in Deutschland
                            hat die Demokratie wesentlich beschädigt, so sehr, dass im Zusammenwirken mit gewissen außenpolitischen
                            Ereignissen auch der Begriff „Demokratie“ gleich handfest mit beschädigt wurde, bis zum Punkt
                            einer empfundenen Drohung. Die Deutsche Mitte versteht sich deshalb zuallererst als politische
                            Bewegung, die jedoch so aufgebaut ist – und das unterscheidet uns von anderen sehr deutlich –
                            dass sie die dringend notwendigen Veränderungen in Politik, Staat und Gesellschaft auch durch
                            Wahlteilnahme vertreten und nach einem Wahlerfolg umsetzen kann. Unser Standpunkt: Analysieren
                            und meckern können wir jetzt; was wir brauchen ist: zielgerichtetes, fachlich sattelfestes politisches
                            Handeln, zunächst innerhalb des jetzt herrschenden Systems. Denn wer sich nach Art. 20 Abs. 4
                            GG das Recht auf Widerstand nehmen will, muss es sich in diesem System erst erarbeiten – das
                            vergessen manche: In Geschichte und Politik gibt es keine Abkürzungen!
                        </p>
                    </div>
                    <div class="one-half-responsive last-column">
                        <p class="dropcaps-2">
                            2. Das geht nicht ohne sattelfeste Mitglieder! Also kann bei uns nicht einfach jeder ‚mal unverbindlich eintreten und „schauen
                            was geht“. Anders als alle übrigen Parteien sind wir eine Organisation, deren Programm und Satzung
                            Mitglieder suchen. Öffentlich empfehlen wir dingend, alle Programmteile und zumindest das Statut,
                            Teil I der Gesamtsatzung, der ausführlichsten und genauesten Satzung aller Parteien in Deutschland,
                            genau zu lesen und zu verinnerlichen. Wer eintritt dokumentiert damit, dass er voll hinter Programm
                            und Satzung steht (Statut S. 9, § 5 Abs. 5)! Wir haben auch die schärfste Abgrenzung aller Parteien
                            in Deutschland gegen Interessenten aus dem radikalen Milieu.
                        </p>
                    </div>
                    <div class="one-half-responsive first-column">
                        <p class="dropcaps-1">
                            3. Die Deutsche Mitte ist auch die einzige Partei, die zur persönlichen menschlichen Selbstverbesserung ihrer Mitglieder
                            – und vor allem ihrer Führungskräfte – verpflichtet, offen und im Statut niedergelegt (S. 9,
                            § 5 Abs. 4).
                        </p>
                    </div>
                    <div class="one-half-responsive last-column">
                        <p class="dropcaps-3">
                            4. Diese Vorsichtsmaßnahmen müssen wir ergreifen, weil wir als einzige politische Kraft in Deutschland Zinsen und Schuldgeld
                            zügig binnen vier Jahren abschaffen werden, wenn wir dazu den Wählerauftrag erhalten, außerdem
                            die globale Kartellmacht gewisser Konzernnetze in fünf Branchen beenden: Finanzen, Medien, Energie,
                            Rüstung und Chemie/Pharma/“Gesundheit“. Das ist eine riesige historische Herausforderung.
                        </p>
                    </div>
                    <div class="one-half-responsive first-column">
                        <p class="dropcaps-4">
                            5. Zentrales Anliegen der Deutschen Mitte ist die Ethik zur Bewahrung der Schöpfung. Diese Ausrichtung entstand aus einem
                            Brief der Maya-Ältesten von 2012, in dem diese ehrwürdigen Herrn erklärten, dass ein Grundfehler
                            des Westens sei, sich nicht geistig sammeln zu können, beispielsweise auf einen Begriff. Es dauerte
                            nur wenige Tage – und dann war dieser Begriff gefunden. </p>
                    </div>
                    <div class="one-half-responsive last-column">
                        <p class="dropcaps-2">
                            6. Politiker machen gut und gern Versprechungen – nur mit dem Einhalten wird es dann gelegentlich etwas „zäh“. Dieser Mangel
                            hat uns als einzige Partei dazu bewogen, unverrückbar bis ins Statut (S. 5, § 2 Abs. 2 Satz 4)
                            und Programm festzuhalten: Unser Parteiprogramm dient auch als Wahl- – und, wenn der Wähler so
                            entscheidet, schließlich als Regierungsprogramm. Ohne Abstriche! </p>
                    </div>
                    <div class="one-half-responsive first-column">
                        <p class="dropcaps-3">
                            7. Um das Programm glasklar und für jeden nachvollziehbar aufstellen zu können, haben wir es wiederum als einzige Partei
                            in Deutschland gleich nach den Bundesministerien geordnet (Statut S. 6, § 2 Abs. 3) – in den
                            Bundesländern werden sich die Landesprogramme der Deutschen Mitte entsprechend an den Ministerialressorts
                            der Landesregierungen ausrichten. </p>
                    </div>
                    <div class="one-half-responsive last-column">
                        <p class="dropcaps-1">
                            8. Und damit dieses gute Programm nicht in den berüchtigten „Koalitionsverhandlungen“ sanft beerdigt werden kann, haben wir,
                            immer noch als einzige Partei in Deutschland, im Statut (S. 5, § 2 Abs. 2 Satz 4) festgeschrieben,
                            dass Verhandlungen mit möglichen künftigen Koalitionspartnern im Fall der Deutschen Mitte etwas
                            anders aussehen als bei allen anderen Parteien. Wir verhandeln nicht über Inhalte unserer Politik,
                            sondern allenfalls um die Abgrenzungen zwischen den einzelnen Ministerialressorts – mehr nicht.
                            In „unseren“ Ministerien machen wir in einer Koalitionsregierung wieder exakt das, was wir aufgeschrieben
                            und gesagt haben. Kann sein, dass wir da in Zukunft manche Verhandlung zum Platzen bringen, bis
                            es klappt – doch wir meinen: Das kann Deutschland und seinen Freunden und Nachbarn nur nützen.
                        </p>
                    </div>
                    <div class="one-half-responsive first-column">
                        <p class="dropcaps-4">
                            9. Die Deutsche Mitte ist darüber hinaus die erste Partei in Deutschland, die bei Entscheidungen zwischen mindestens zwei
                            Alternativen zum Konsensieren verpflichtet, das heißt: Jeder Stimmberechtigte muss bindend alle
                            Beschlussvorlagen nach seiner freien Meinung in eine Rangreihenfolge bringen (Statut, S. 33,
                            § 40). Dieses Vorgehen stellt sicher, dass alle Stimmberechtigten vom Meinungsbild in der Partei
                            inhaltlich umfassend Kenntnis nehmen, inhaltlich argumentieren und abschließend auch entsprechend
                            sachgerecht entscheiden können. Überdies wird die Gefahr der schleichenden Spaltung der Partei
                            durch knappe Mehrheitsentscheidungen in Serie vermieden. Besonders korruptionsbremsend wirkt,
                            dass Kandidatenaufstellungen so in kürzester Zeit einvernehmlich abgewickelt werden können. </p>
                    </div>
                    <div class="one-half-responsive last-column">
                        <p class="dropcaps-1">
                            10. Schließlich sind wir zumindest in Deutschland die einzige Partei, die in einem Schattenkabinett künftiger Minister und
                            Staatssekretäre ausschließlich mit international bekannten, ehrlichen und fähigen Spitzenkräften
                            arbeitet – und zwar immer dann, wenn im Mitgliederstamm das entsprechende Personal fehlt. Die
                            Anforderungen dafür haben wir auf unserer Website öffentlich vorgestellt, in einer Kriterienliste:
                            Glaubwürdigkeit steht in allen Bereichen obenan. „Keine Ahnung vom Geschäft – Hauptsache unser
                            Mann“, solche furchtbaren und gefährlichen Haltungen lehnen wir entschieden ab. Vorbei die Zeiten,
                            in denen Minister auf Englisch nur jämmerlich radebrechen können – oder von ihrem jeweiligen
                            Ressort allenfalls knapp den Namen schreiben.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
</ons-page>