<ons-page>
    <ons-toolbar>
        <div class="left">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Programmübersicht
        </div>
        <div class="right">
        <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div id="page-transitions" style="background-color:white">
            <div id="page-content-scroll">
        <div id="page-content" class="vertical-bg-4 bg-cover header-clear">
            <div class="landing-homepage">
                <div class="landing-page landing-dark">
                    <div class="landing-wrapper">
                        <div class="landing-header no-bottom">
                            <a class="landing-header-logo" href="#">Programmübersicht</a>
                            <div class="landing-header-icons">
                                <a class="phone-bg" href="#"><i class="ion-ios-telephone-outline"></i></a>
                                <a class="twitter-bg" href="#"><i class="ion-social-twitter-outline"></i></a>
                                <a class="facebook-bg" href="#"><i class="ion-social-facebook-outline"></i></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="content no-bottom">
                            <div class="deco"></div>
                        </div>
                        <ul>
                            <li>
                                <a href="dm-aussenpolitik.html">
                                    <i class="dm-aussenpolitik_02 icon bg-dmo-dark"></i>
                                    <em>Außenpolitik</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-innenpolitik.html">
                                    <i class="dm-innenpolitik-wf icon bg-dm-dark"></i>
                                    <em>Innenpolitik</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-finanzpolitik.html">
                                    <i class="dm-finanzpolitik icon bg-dmo-light"></i>
                                    <em>Finanzpolitik</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-wirtschaftspolitik.html">
                                    <i class="dm-wirtschaftspolitik-wf icon bg-magenta-dark"></i>
                                    <em>Wirtschaft</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-arbeit-und-soziales.html">
                                    <i class="dm-verkehr-02-wf icon bg-orange-dark"></i>
                                    <em>Arbeit u. Soziales</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-verteidigung.html">
                                    <i class="dm-verteidigung-wf icon bg-night-light"></i>
                                    <em>Verteidigung</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-bildung-und-forschung.html">
                                    <i class="dm-bildung icon bg-teal-dark"></i>
                                    <em>Bildg u. Forschg</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-familie-senioren-frauen-und-jugend.html">
                                    <i class="dm-familie-wf icon bg-dm-light"></i>
                                    <em>Familie</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-gesundheit.html">
                                    <i class="dm-gesundheit-wf icon bg-red-dark"></i>
                                    <em>Gesundheit</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-umwelt-naturschutz-und-reaktorsicherheit.html">
                                    <i class="dm-energie icon bg-night-dark"></i>
                                    <em>Umwelt</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-ernaehrung-landwirtschaft-und-verbraucherschutz.html">
                                    <i class="dm-ernahrung icon bg-green-dark"></i>
                                    <em>Ernährung</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-verkehr-bau-und-stadtentwicklung.html">
                                    <i class="dm-verkehr-01-wf icon bg-blue-dark"></i>
                                    <em>Verkehr</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-wirtschaftliche-zusammenarbeit-und-entwicklung.html">
                                    <i class="dm-zusammenarbeit icon bg-dmo-light"></i>
                                    <em>Zusammenarbeit</em>
                                </a>
                            </li>
                            <li>
                                <a href="dm-justiz.html">
                                    <i class="dm-justiz-wf icon bg-blue-light"></i>
                                    <em>Justiz</em>
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <div class="content no-bottom">
                            <div class="deco"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="index.html" class="footer-logo scale-hover"></a>
                <p>
                    Ethik zur Bewahrung der Schöpfung, eine andere Politik ist möglich und notwendig!
                </p>
                <div class="footer-socials">
                    <a href="https://www.facebook.com/hoersteldeutschemitte/" class="icon icon-round icon-xs facebook-bg"><i class="ion-social-facebook"></i></a>
                    <a href="https://twitter.com/DeutscheMitte" class="icon icon-round icon-xs twitter-bg"><i class="ion-social-twitter"></i></a>
                    <a href="https://dm-stammtisch.de/" class="icon icon-round icon-xs google-bg"><i class="ion-home"></i></a>
                    <a href="https://www.youtube.com/channel/UCLC_9zmyYs5wFX46KBJz95w/" class="icon icon-round icon-xs youtube-bg"><i class="ion-social-youtube"></i></a>
                    <a href="#" class="icon icon-round icon-xs show-share-bottom bg-blue-light"><i class="ion-android-share"></i></a>
                </div>
                <div class="decoration"></div>
                <p class="copyright-text">GEHEN SIE jetzt MIT <span id="copyright-year"></span>. WIR sind die Zukunft..</p>
            </div>
        </div>
        </div>
</ons-page>