<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-navicon"></i></ons-toolbar-button>
        </div>
        <div class="center">Alleinstellungsmerkmale
        </div>
        <div class="right">
            <ons-toolbar-button onclick="fn.open()"><i class="ion-ios-more"></i></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="page-transitions" style="background-color:white">
        <div id="page-content-scroll">
            <div class="heading-strip bg-4">
                <h3>DM Kurzprgramm 2016</h3>
                <p style="deco-dmo">Politik geht anders ...!</p>
                <i class="fa ion-ios-list-outline"></i>
                <div class="overlay dark-overlay"></div>
            </div>
            <div class="content">
                <p>
                    Die Deutsche Mitte steht für ethische Politik im Sinne der Bewahrung der Schöpfung: mit Herz, Augenmaß und Vernunft
                    <br> Politik soll fragen: Was ist gut für alle? Für Deutschland, für Europa, für die Welt. Für Mensch
                    und Natur. Für ein glückliches und erfolgreiches Miteinander aller in Frieden, Gerechtigkeit und fairem
                    Interessenausgleich. Wir sind alle miteinander verbunden!
                </p>
            </div>
            <div class="decoration decoration-slash"></div>
            <div class="content">
                <h3>Aufrichtige Wahlversprechen:</h3>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Regieren heißt dienen..<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            ...– nicht herrschen Wir halten was wir sagen – auch nach der Wahl. Deshalb ordnen wir als einzige Partei unser Programm
                            direkt nach Ministerien. So gilt: Parteiprogramm = Wahlprogramm = Regierungsprogramm. Und für
                            mögliche Koalitionen wird darüber nicht verhandelt: Allenfalls führen wir „Ressortabgrenzungsgespräche“
                            – denn in „unseren“ Ministerien werden wir exakt umsetzen, was wir angekündigt hatten. Wir machen
                            Politik für die große Mehrheit der Bevölkerung, die in allen Bereichen mit Recht die Regierungspolitik
                            kritisiert. Wir drängen das globale Finanzkartell zurück – fahren schrittweise, voraussichtlich
                            binnen vier Jahren, Zinsen herunter und bringen die Geldschöpfung unter öffentliche Kontrolle.
                            Spekulationsblasen dulden wir nicht, Nahrungsmittel und Wasser sind Menschenrecht. Wir beenden
                            jede deutsche Beteiligung an BundeswehrKampfeinsätzen außerhalb des Nato-Verteidigungsgebietes.
                            Deutschland verdient einen Friedensvertrag, endlich volle Souveränität und eine umfassende Verfassungsreform,
                            vor allem für mehr Bürgerrechte, die Selbstbestimmung und Selbstverantwortung des Menschen auf
                            allen Ebenen ermöglichen – und den Überwachungsstaat beenden. Deutschland ist ein christlich
                            geprägtes Land – die Deutsche Mitte eine säkulare Partei; wir fordern die strikte Trennung von
                            Staat und Kirche.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Außenpolitik:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Mit Augenmaß, gut abgestimmt mit Partnern und Freunden und ohne großen Wirbel verlässt Deutschland die Euro-Gruppe – nicht
                            als erstes Land, um Missstimmung zu vermeiden, jedoch als zweites. Der Vertrag von Lissabon,
                            über den die Bevölkerung nicht abstimmen durfte, wird nachträglich einem Volksentscheid unterworfen
                            und im Ablehnungsfalle selbstverständlich aufgekündigt. Gleichzeitig legt die Bundesregierung
                            abgesprochene Vorschläge für eine umfassende EU-Reform vor. Europa wird gestärkt und deutlich
                            demokratisiert, mit mehr Mitbestimmung durch die Euro-Völker, Wahl aller Gremien, Beendigung
                            der Entscheidungsmacht der jetzigen EUKommission. Notfalls kann Deutschland auch die EU verlassen.
                            Die Deutsche Mitte fördert die eigenständige Sanierungskraft hoch verschuldeter Euro-Länder.
                            Zahlungen an verschuldete Euro-Länder erfolgen nur noch gegen dreifache Sicherheitsleistung,
                            ab Förderbeträgen von insgesamt mehr als 20% des betreffenden Bundeshaushalts ausschließlich
                            nach Zustimmung der eigenen und der Empfänger-Bevölkerung. Mit der Förderung internationaler
                            Gewerkschaftspolitik gehen wir auf die große Mehrzahl der Menschen in aller Welt zu. Die Deutsche
                            Mitte tritt weltweit für gerechten Frieden ein. Ungerechte und sinnlose Sanktionen werden beendet.
                            Keine Abenteuer-Politik bei Regierungswechseln in anderen Ländern (Libyen, Syrien, Ukraine),
                            grundsätzliche Beachtung der Nichteinmischung in die inneren Angelegenheiten anderer Länder.
                            Gerechten Frieden fördert die Deutsche Mitte auch in Nahost, eine deutsche Staatsräson für die
                            Sicherheit Israels lehnen wir ab. Grundsätzlich gilt für Palästina die Ein-Staaten-Lösung nach
                            südafrikanischem Vorbild und bei vollem Rückkehrrecht aller Palästinenser als erstrebenswert,
                            Zwischenschritte („Zwei-Staaten-Lösung“) werden selbstverständlich ebenfalls unterstützt. Zur
                            Friedenssicherung wird Deutschland unverzüglich seine Truppen aus der NatoStruktur so lange herausziehen,
                            bis die Nato sämtliche Einsätze außerhalb des NatoGebiets beendet hat. Sollte die Nato nicht
                            binnen zwei Jahren wieder ein reines Verteidigungsbündnis werden, muss der Nato-Austritt erfolgen.
                            Deutsche Soldaten werden aus dem Nicht-Nato-Ausland („out of area“) abgezogen und verbleiben
                            fortan ausschließlich im Nato-Gebiet. Gleichzeitig werden schrittweise alle ausländischen Truppen
                            aus Deutschland abgezogen, einschließlich aller Waffen, insbesondere: Atomwaffen. Truppeneinsätze
                            benötigen künftig bessere Strategien. Wir sind und bleiben enge Freunde und Verbündete unserer
                            EU-Nachbarn und Nato-Partner, diese Beziehungen wollen wir vorrangig besonders pflegen, vor allem
                            im Interesse der Völker – doch deutsche Außenpolitik kann mehr als nur Nato-Bündnis- oder EU-Politik.
                            Mit Russland und anderen Staaten oder Staatengruppen werden friedenswahrende Rückversicherungsverträge
                            abgeschlossen.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Innenpolitik:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Wir wollen mehr und besser bezahlte Polizisten, die wir persönlich kennen: als „Revierbeamte“ mit erhöhter Straßenpräsenz.
                            Geheimdienste sollen besser und ehrlicher zum Wohl der Bevölkerung arbeiten, das allein sichert
                            das Land. Deutschland braucht ein Ausländergesetz! Masseneinwanderung unterbinden wir an den
                            Außengrenzen, auch mit Friedenspolitik und Hilfen an Erstaufnahmeländer. Sozialhilfe gibt es
                            nur für Deutsche. Ausländer wollen wir künftig, wie weltweit üblich, besser aussuchen: nach bundesweiten
                            Maßstäben für erfolgreiche Integration. Migranten wollen wir auch besser behandeln und integrieren:
                            schulen, in Lohn und Brot bringen, schneller einbürgern. Migranten ohne Integrationsbereitschaft
                            werden zurückgewiesen. Die Bildung von Migrantenvierteln und aller kriminellen Banden wird tatkräftig
                            unterbunden. Null Toleranz bei rassistischen Übergriffen. Soweit Asylsuchende in ihren Herkunftsländern
                            eine akute Bedrohung ihrer Menschenrechte erleiden oder befürchten müssen, erhält die Bundesregierung
                            eine verbesserte Handlungsbasis. Mehr Volksinitiativen und Volksentscheide bei wichtigen Fragen
                            in Bund und Land. Staatliches Entscheiden und Handeln muss Internet-basiert transparent und viel
                            besser öffentlich kontrollierbar werden! Den Überwachungsstaat werden wir beenden – und Spionage
                            von außen nicht mehr dulden. Mehr soziale, ethische Sportförderung!
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Finanzen:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Banken werden ehrliche Dienstleister, Zockerei wird verboten, Zins und Zinseszins werden abgeschafft. Marode Banken werden
                            vorübergehend verstaatlicht und teilweise in kontrollierten Konkurs gehen. Manager haften für
                            Fehlverhalten, Betrug wird strenger bestraft. Wir fordern die Trennung von Geschäfts- und Investmentbanken
                            und eine Börsentransaktionssteuer, um Großspekulanten einzubremsen. Diese Schritte werden international
                            abgestimmt, durchgesetzt und eingeführt, genau wie das Verbot von Spekulantentricks: Derivate,
                            Leerverkäufe und Termingeschäfte. EuroUnterstützung zahlen wir nur noch gegen dreifache Sicherheit,
                            um das Vermögen des deutschen Volkes abzusichern. Künftig darf nie wieder eine nationale Währung
                            Weltleitwährung sein! Wir fordern stattdessen eine zusätzliche, neutrale, gemeinschaftlich fair
                            und staatsunabhängig verwaltete weltweite Ausgleichswährung. Steuern werden radikal vereinfacht,
                            auch durch Abschaffung der meisten Steuerarten - bis hin zur Totalabschaffung sämtlicher Steuern.
                            Auf dem Wege dahin motivieren wir Superreiche, Mega-Erben und Großkonzerne, soziales Mäzenatentum
                            stärker zu unterstützen. Verschwendung öffentlicher Mittel wird strenger geahndet und wirkungsvoller
                            vermieden. Die Deutsche Mitte fördert alternative und regionale Währungen ebenso wie Tauschringe.
                            Die „Monetative“ (nach Prof. Dr. Bernd Senf) verbietet Geldschöpfung durch Regierung oder private
                            Einrichtungen und legt dieses Privileg ausschließlich in die Hände einer reformierten und wirklich
                            unabhängigen Bundesbank. Dieses Prinzip ist eingebettet in das ebenfalls verfolgte „Viergliederungsprinzip“
                            (nach Prof. Dr. Johannes Heinrichs) und angelehnt an das „Dreigliederungsprinzip“ (nach Dr. Rudolf
                            Steiner). Sämtliche tiefgreifende Reformen erfolgen ausschließlich in gründlicher und tatsächlich
                            unabhängiger wissenschaftlicher und praxisnaher Vorbereitung und Begleitung.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Wirtschaft und Technologie:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Wirtschaft dient allen Menschen, dies ist ebenfalls Aufgabe der Politik: Unternehmen, die sozial, ökologisch, menschenfreundlich
                            und flexibel arbeiten (Gemeinwohlökonomie) erhalten finanzielle Erleichterungen. Familienunternehmen,
                            Genossenschaften und Stiftungen sowie Mitarbeiterbeteiligung werden ebenso gefördert wie Solidität
                            und Stabilität der Unternehmensfinanzen – auch durch die Bildung stiller Reserven. Förderung
                            lokaler Wirtschaft und handwerklicher Eigenproduktion. Förderung von Open-Source-Ökonomie. Geeignete,
                            neue Technologien und Erfindungen werden gefördert und schneller in Produkte umgesetzt. Entsprechend
                            zügig erfolgt der komplette Atom-Ausstieg, danach werden auch fossile Energieträger durch neue
                            Technik und 100% erneuerbare Energien ersetzt (Energieautonomie). Sofortiges Ende der Wiederaufarbeitung
                            von Brennelementen. Unterdrückung von Erfindungen aus eigensüchtigen Motiven sowie Kartellbildung
                            werden nicht mehr geduldet und wirksam unterbunden. Offenlegung aller Geheimdokumente über außerirdische
                            Lebensformen und Technologien. Eingebaute Produktalterung (Obsoleszenz) wird ein Straftatbestand,
                            die Mindestgarantiefrist auf drei Jahre verlängert, so fördern wir Wertarbeit und den Verzicht
                            auf Billigprodukte. Schutz vor Spionage und Benachteiligung im Ausland, besserer Übernahmeschutz,
                            Ende sinnloser internationaler Sanktionspolitik.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Arbeit und Soziales:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Jeder arbeitsfähige Mensch geht einer Beschäftigung nach. In einer Vorphase vor Einführung des bedingungslosen Grundeinkommens
                            steht das solidarische Grundeinkommen: Künftig erhalten alle Beschäftigungslosen eine Liste der
                            in ihrer Umgebung tätigen gemeinnützigen Organisationen. Wer Grundeinkommen erhalten will, wählt
                            den künftigen Wirkungskreis aus und nimmt seine Tätigkeit auf – oder setzt eigene Ideen um: mit
                            amtlicher Zustimmung kann das sofort beginnen! Unentgeltliche gemeinnützige Tätigkeit, wie zum
                            Beispiel Kinderbetreuung, sichert ein solidarisches Grundeinkommen, das deutlich über den Sozialleistungen
                            von Hartz-IV liegt. Diesem Verfahren des „Bedingten Grundeinkommens“ folgt etwa 3-5 Jahre später
                            das „Bedingungslose Grundeinkommen“. Ziel: Sinnvolle Arbeitswelten für alle gemäß ihren Wünschen
                            und Fähigkeiten frei von Existenzproblemen. Billiglöhne und ScheinLeiharbeit werden unterbunden;
                            das Mindesteinkommen wird gesteigert – und steht in angemessener Relation zum Grundeinkommen.
                            Volle Gleichberechtigung der Geschlechter bei Einstellung, Einkommen und Aufstiegschancen. Wesentlich
                            mehr Eingliederungschancen für junge Mütter nach dem 3. Lebensjahr ihrer Kinder. Familien erhalten
                            großzügige Förderung. Das Auseinanderdriften von Arm und Reich wird gestoppt und zurückgefahren.
                            Die Solidarität aller Menschen untereinander wird gestärkt.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Verteidigung:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Die neue Verteidigungsstrategie lautet: „Full Spectrum Defense“ – und stellt sicher, dass Deutschland auf jedem Gebiet –
                            entweder eigenständig oder im Verbund mit anderen Nationen – abschreckend verteidigungsfähig
                            wird. Die Bundeswehr erhält insgesamt eine strukturelle Nichtangriffsfähigkeit. Eine Berufsarmee
                            ist mit der bewährten Idee des Bürgers in Uniform schwer vereinbar. Die großen Herausforderungen
                            der Zukunft, auch an die künftig erweiterte Freiheit und Mitsprache der Bürger, sind deshalb
                            bei einer Wehrpflichtarmee besser aufgehoben: Deutschland kehrt zu diesem Modell zurück. Das
                            bewährte Prinzip der Inneren Führung, das jedem Soldaten Gewissensfreiheit garantiert, wird wieder
                            bestärkt. Bundeswehreinsätze im Inneren sind ausgeschlossen – auch in anderen Ländern. Wer gemäß
                            seiner Gewissensfreiheit keinen Wehrdienst leistet, wird zu einem Sozialen oder Ökologischen
                            Jahr nach eigener Wahl verpflichtet. Die Bundeswehr wird eine starke, gut gerüstete, mobile und
                            vernetzte Verteidigungsarmee – mit voller Solidarität aller Bürger.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Bildung und Forschung:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Große Investitionen in Bildung und Forschung machen Deutschland wieder zur führenden Nation in diesem Bereich. Die Deutsche
                            Mitte fordert KiTa-Plätze für alle Kinder ab drei Jahren, für jüngere nur auf Wunsch der Eltern.
                            Die elterliche Kindererziehung bis zum Erreichen des dritten Lebensjahres wird finanziell kräftig
                            gefördert. Schulklassen unter 20 Kinder, große Erweiterungen bei den Universitäten, aufgestockte
                            Budgets in der Forschung. Deutlich bessere bauliche und technische Ausstattungen überall. Förderung
                            betrieblicher Verzahnung und deutlich mehr wissenschaftliche Freiheit und Unabhängigkeit gehören
                            unbedingt zusammen: mit transparenter Finanzierung sowie allgemein zugänglichen Forschungsergebnissen.
                            Wir fordern die Abschaffung von Schulzwang und das Recht auf freies Lernen, Förderung selbstbestimmter,
                            praxisbezogener, erlebnisorientierter Bildungsformen – mit Ergebniskontrolle. Wir fordern unabhängige,
                            dem Gemeinwohl verpflichtete Mediennetzwerke mit transparenter Berichterstattung, die Abschaffung
                            des Zwangsbeitrags zur Finanzierung des öffentlich-rechtlichen Rundfunks und ein Verbot der Zusammenarbeit
                            zwischen Meldebehörden und Gebühreneinzug.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Familie, Senioren, Frauen und Jugend:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            50% mehr Kindergeld anrechnungsfrei, Verlängerung des Elterngeldes auf drei Jahre – endlich genügend Kitas für alle! Förderung
                            der natürlichen Familienbeziehung Mutter-Kind-Vater: Intakte Familien in kinderfreundlich geordneten
                            Verhältnissen, in denen verheiratete, leibliche Eltern ihre eigenen Kinder erziehen, erhalten
                            € 5.000 für das erste Kind, € 10.000 für das zweite und noch einmal € 10.000 für das dritte Kind.
                            Pfändungssicher und zusätzlich zu allen anderen Leistungen. Homo-Ehe: ja - Adoptionen nur als
                            gut begründete Ausnahmen, vor allem bei leiblichen Kindern! Förderung der individuellen, spontanen
                            und natürlichen Geburt, Aufwertung des Berufs der Hebammen, mehr Unterstützung für junge Mütter.
                            Frauen erhalten Hilfe für den Wiedereinstieg in den Beruf. KiTa-Plätze für alle Kinder ab drei
                            Jahren, bessere Personalausstattung von Erziehungseinrichtungen. „Gender Mainstreaming“, die
                            Gleichmachung der Geschlechter, wird nicht mehr gefördert, gleichwohl sind Mann und Frau Träger
                            gleicher unveräußerlicher Rechte. Die Deutsche Mitte fördert Mehrgenerationsgemeinschaften, in
                            denen ältere Menschen geachtet werden und in der Gemeinschaft ihren Wünschen und Fähigkeiten
                            entsprechend Aufgaben bis zu ihrem Lebensende erfüllen. Senioren werden auf Wunsch besser betreut,
                            mit deutlich mehr Personal. Jugendarbeit vertritt die Interessen der Jugend bei der Entdeckung
                            und Entwicklung ihrer Persönlichkeit und fördert Selbstorganisation, Eigenaktivität und verantwortungsvolle
                            Teilhabe der Jugendlichen an der Gemeinschaft.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Naturschutz..<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Umwelt und Reaktorsicherheit: Die Deutsche Mitte sieht den Menschen in der hohen Verantwortung, die natürlichen Grundlagen
                            für alle Lebensformen zu bewahren. Darum erhalten Umwelt- und Naturschutz bedeutenden Vorrang.
                            Stärkung und Weiterentwicklung der Nationalen Naturlandschaften, Verbesserung der Betreuungssituation
                            in Schutzgebieten, Förderung nachhaltiger und naturschonender Landnutzung. Selbständige Regulation
                            der Wildtiere hat Vorrang vor der Jagd. Schaffung lokaler Stoff- und Energiekreisläufe, Abschaffung
                            des Anschlusszwangs an die Kanalisation bei kontrolliertem Betrieb eigener Abwasserreinigung,
                            Umstieg von zentraler auf dezentrale Energieversorgung mit Ausbau regenerativer und alternativer
                            Energieversorgung (Energieautonomie). Verbot der künstlichen Beeinflussung der Atmosphäre und
                            jeglichen Geo-Engineerings – außer zu Verteidigungszwecken bei entsprechender Bedrohungslage.
                            Umweltverbrechen werden stärker verfolgt und bestraft, vor allem was die Bereiche Erdöl, Erdgas
                            und Radioaktivität angeht. Fracking wird grundsätzlich verboten.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Ernährung, Landwirtschaft..<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            ..und Verbraucherschutz: Die Deutsche Mitte fordert das Recht auf natürlich gesunde Lebensmittel. Genmanipulierte Produkte
                            gehören nicht in die Nahrungskette! Schrittweise Umstellung auf ökologische, pestizid- und gentechnikfreie
                            Landwirtschaft (Mindeststandard: Bioland.) Dies geschieht freiwillig und mit finanzieller Förderung.
                            Junge Menschen helfen dabei in ihrem sozialen/ökologischen Jahr und erlernen so den Bezug zur
                            Natur. Förderung unabhängiger Agrarproduktion in Familienbetrieben: Jeder volljährige Bürger
                            erhält das Recht, ein kostenloses Grundstück mit einer Größe von 400 m² als Privateigentum zu
                            erhalten und frei zu bewirtschaften. (= 9,1% der Landesfläche). Förderung nachhaltiger Land-
                            und Forstbewirtschaftung, Schutz und Regeneration von Böden mit nachhaltigem Humusaufbau und
                            der Bienenvölker als natürliche Lebensgrundlage. Ganzjährige grüne Bedeckung aus nutzbaren Pflanzen
                            wird erste Regel der Landwirtschaft. Bewahrung und Förderung altbewährten Saatgutes. Keine Patentrechte
                            auf Lebewesen oder Samen. Wir fordern artgerechte Tierhaltung und Fütterung und somit eine Abschaffung
                            der bisherigen Massentierhaltung. Dabei erfolgen sämtliche Umstellungen in enger Abstimmung mit
                            allen Beteiligten. Wasserversorgung und andere Naturgüter gehören nicht in Konzernhände! LobbyEingriffe
                            in Verbraucher- und Naturschutz werden verboten, die Unabhängigkeit der Forschung wird bestärkt
                            und kontrolliert.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Gesundheit..<i class="ion-android-add"></i></a>
                    <div class="accordion-content">
                        <p>
                            Die Deutsche Mitte fördert ganzheitliche Heilkunde und alternative Medizin bei deutlich gestärkter individueller Betreuung.
                            Überteuerte Kartellmedizin wird durch wirkungsvollere, höherwertige und preisgünstigere natürliche
                            Methoden ersetzt. Aufbau ganzheitlicher Gesundheitszentren und Förderung von Solidargemeinschaften
                            und alternativer Absicherungen im Krankheitsfall mit dem Recht auf freie Therapiewahl. Totalreform
                            des Nahrungsmittelstandards Codex Alimentarius zur nachhaltigen und ökologischen Ausrichtung.
                            Kritischer Umgang mit Impfungen, vor allem bei Kindern, Antibiotika, Chemotherapie, Quecksilber
                            (Amalgam-Zahnfüllungen!) und Aluminium. Strengere Grenzwerte für Elektrosmog und Radioaktivität.
                            In die notwendige Forschung, Standardisierung und überfällige Gesamtreform wird zügig und kräftig
                            investiert, insbesondere auch in der Wissenschaft. Der Einfluss weniger Pharma-Riesen wird ebenso
                            zurückgedrängt wie die Profitgier im Gesundheitswesen. Endlich bessere Bezahlung für Pflegeberufe
                            und Hebammen! Die notwendigen Versicherungen erhalten zur Kostensenkung staatliche Unterstützung.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Verkehr, Stadtentwicklung..<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            und Bau: Voll-Ausbau der Bahn zum großen LogistikDienstleister, keine Privatisierung, stattdessen Zusammenarbeit mit Privatfirmen,
                            deutlich weniger und kleinere LKW auf den Straßen. Großprojekte mit enger Einbindung der Bevölkerung.
                            Grünere Städte, „essbare Städte“ (Nutzpflanzen für die Allgemeinheit auf öffentlichen Grünflächen).
                            Reform der Energieeffizienzpolitik. Ökologisches Bauen mit modernen Methoden und Techniken nach
                            baubiologischen Standards – und mit strikt sozialfreundlicher Zielsetzung und Strategie, auch
                            innerhalb einzelner Bauprojekte. Förderung regionaler Selbstverwaltung, keine Privatisierung
                            kommunaler und staatlicher Basisaufgaben! Regional unabhängige Wasser-, Strom- und Wärmeversorgung.
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost">
                    <a href="#" class="accordion-toggle">Wirtschaft und Entwicklung:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Fairer Handel ohne Diktate aus IWF und Weltbank. Internationale Unterstützungsleistungen werden künftig neben bisherigen
                            Verfahren zusätzlich in verantwortlichen Patenschaften organisiert – und müssen kontrolliert
                            und überprüfbar den Interessen und Bedürfnissen der empfangenden Völker dienen. Hilfe zur Selbsthilfe!
                            Kontrollergebnisse sind öffentlich!
                        </p>
                    </div>
                </div>
                <div class="accordion-item accordion-ghost last-accordion-item">
                    <a href="#" class="accordion-toggle">Justiz:<i class="ion-android-add"></i></a>
                    <div class="accordion-content ">
                        <p>
                            Recht darf kein Privileg der Wohlhabenden oder Mächtigen sein. Gerechtigkeit soll vor Gericht siegen. Ausbau des Justizwesens,
                            weniger machtpolitischer Einfluss, mehr richterliche Unabhängigkeit, neue, ethische Richterwahlverfahren
                            für Bundesgerichte, schnellere Verfahren. Reform des Strafrechts, weniger strenge Bestrafung
                            von Kleinkriminalität, weniger Haftstrafen, insbesondere bei Familien. Bürgerrechte und –schutz
                            sind deutlich zu stärken.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
</ons-page>